<!DOCTYPE html>
<html lang="en" ng-app="webgisApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>SWOS WebGIS</title>

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    {% load staticfiles %}
    {% load assets %}
    {% assets "baseVendorCssBundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" />
    {% endassets %}

    {# requires fonts and css to be in the same directory, so no inclusion in bundle #}
    <link href="{% static "img/flaticon/font/flaticon.css" %}" rel="stylesheet" />

    {% assets "validationAppCssBundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" />
    {% endassets %}

    {% verbatim %}
    <script type="text/ng-template" id="close">
        <div class="triangle"></div>
        <div class="ns-popover-tooltip" ng-bind="layer.title">
            <button ng-click="hidePopover()">Close</button>
        </div>
    </script>
    {% endverbatim %}

    <script type="text/javascript">
        var mapId = {{id}};
        var subdir = '{{subdir}}';
    </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARWJfd0ov-WXWAtbyZjvqayhCDiUJFtPw"></script>


    <script type="text/javascript">
        var _paq = _paq || [];
        // add individual tracking code
    </script>
</head>
<body>

    <div id="loading-div">
        <div class="loading">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <button class="btn btn-default btn-primary btn-sm" onclick="$('#loading-div').hide()" style="margin-left: -35px;margin-top: -65px;">Hide loading overlay</button>
        </div>
    </div>

    {% verbatim %}
    <div id="alerts" ng-controller="AlertCtrl as ac">
        <div uib-alert ng-repeat="alert in ac.alerts" class="alert alert-{{alert.type}}" close="ac.closeAlert()">{{alert.msg}}</div>
    </div>
    {% endverbatim %}

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand" id="title-left" style="padding-top: 4px;"><a href="1.html"><img src="/static/img/geo-wetlands-portal.jpg" border="0" height="60"></a></div>
            </div>

            <!-- TOOLBAR in Navigation für Tablet und Desktop -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right col-md-3" id="nav-top-right" style="padding-right:0;">
                    <li>
                        <div style="margin-top: 3px;font-size: 0.8em;padding-left: 5px;" class="partners">
                            <a href="http://www.geowetlands.org" target="_blank"><img src="/static/img/GEO_wetland_color_pos_45.png" border="0"></a>
                            <img src="/static/img/eu.png" alt="EU Logo" height="45">
                            <a href="http://www.eo.uni-jena.de" target="_blank"><img src="http://swos-service.eu/wp-content/uploads/2015/06/Logo-FSU-Bildmarke.jpg" border="0" height="45"></a>
                            <a href="http://www.swos-service.eu" target="_blank"><img src="/static/img/swos_logo_60.png" border="0" height="45" style="margin-left: 0;"></a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right" id="nav-top-right2" ng-controller="LoginCtrl as lc">
                    <li class="dropdown btn-group pull-right" ng-include="'{% static "includes/settings.html" %}'"></li>
                    <li class="dropdown btn-group pull-right" ng-include="'{% static "includes/info_validation.html" %}'"></li>
					<li class="dropdown btn-group pull-right" ng-include="'{% static "includes/auth.html" %}'" id="login-icon"></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    {% verbatim %}
    <!-- NAVBAR SEARCH SMARTPHONE - Zweite Version, die auf dem Smartphone in einer separaten Zeile angezeigt wird.-->
    <nav class="navbar visible-xs" role="navigation" id="navbar-search" ng-controller="SearchBoxCtrl as sb">
        <div class="container-fluid">
          <!--  <form class="navbar-form navbar-right" ng-submit="sb.search();" role="search" id="xs-search">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="sb.text" placeholder="Search">
                </div>
            </form>-->
            <button class="btn btn-primary" type="submit"  id="toggle-sidebar">Menu</button>
        </div>
    </nav><!-- END NAVBAR SEARCH SMARTPHONE -->

    <!-- NAVBAR END -->

    <div class="container-fluid" id="center">
        <div class="row" ng-controller="MapCurrentLayersCtrl as mcl">
            <div ng-controller="MapViewerCtrl as mv">
                <div class="map-controls-wrapper">
                    <div id="map_icons">
                        <button type="button" uib-tooltip="Zoom in" tooltip-placement="bottom" ng-click="mv.zoomIn()" class="btn btn-default btn-circle hidden-xs" id="zoomInButton"><i
                                class="fa-plus fa fa-lg"></i></button>
                        <button type="button" uib-tooltip="Zoom out" tooltip-placement="bottom" ng-click="mv.zoomOut()" class="btn btn-default btn-circle hidden-xs" id="zoomOutButton"><i
                                class="fa-minus fa fa-lg"></i></button>
                        <button type="button" uib-tooltip="Zoom to initial extent" tooltip-placement="bottom" ng-click="mv.zoomMaxExtent()" class="btn btn-default btn-circle"><i
                                class="fa-globe fa fa-lg"></i></button>
                        <!--<button type="button" ng-click="mv.createFeature()" class="btn btn-default btn-circle hidden-xs"><i class="fa-pencil-square-o fa fa-lg"></i></button>-->
                        <button type="button" uib-tooltip="Activate to request pixel information (click on map)" tooltip-placement="bottom" ng-click="mv.requestInfo()" ng-class="{'btn-active': mv.infoStatus, 'disabled': !mv.data.canRequestFeatureInfo}" class="btn btn-default btn-circle hidden-xs"><i class="fa-info fa fa-lg"></i></button>
                    </div>
                <!-- /input-group -->
                </div>
                <div id="gmap" class="col-sm-9 col-md-9 col-xs-12 main"></div>
                <div class="col-sm-9 col-md-9 col-xs-12 main" map-openlayers id="map">

                    <div id="wetland_attribution"></div>
                    <div id="cookienote" ng-hide="mv.hideCookieNote"><strong>Cookies: </strong>This website uses cookies to ensure you get the best experience on our website. <button ng-click="mv.closeCookieNote()">Okay</button></div>

                    <div id="map_legend"></div>
                </div>
            </div>
            <div class="layer-list">
                <div id="current" ng-show="mcl.wetlandListState">

                    
                       <div id="addexternallayer" ng-if="mapviewerdata.addexternallayer">
                           <hr />
                           <div align="center"><button type="button" ng-click="mcl.addOwnLayer()" class="btn btn-primary">Add own layer</button></div>
                           <hr />
                       </div>
                       
                    <!-- List GROUP -->
                    <div class="list-group" dnd-list="mcl.layersMeta" dnd-drop="mcl.prepareIndex(index, item)">
                        <div class="list-group-item clearfix" ng-repeat="layer in mcl.layersMeta" dnd-draggable="layer"
                             dnd-moved="mcl.changeLayer($index)" dnd-effect-allowed="move" style="border-radius:0;">

                            <div class="catalog-item">
                                <div class="item_left" style="padding-top:12px;">
                                    <button tooltip-append-to-body="true" tooltip-placement="right"
                                            uib-tooltip="Hide layer"
                                            type="button" ng-click="mcl.changeVisibility(layer.id, $event)"
                                            ng-if="mcl.getVisibility(layer.id)" class="btn btn-default"
                                            style="padding: 0;border-color: white;"
                                            aria-label="Left Align"><i
                                            class="fa fa-eye fa-lg"></i></button>
                                    <button tooltip-append-to-body="true" tooltip-placement="right"
                                            uib-tooltip="Show layer"
                                            type="button" ng-click="mcl.changeVisibility(layer.id, $event)"
                                            ng-if="!mcl.getVisibility(layer.id)" class="btn btn-default"
                                            style="padding: 0;border-color: white;"
                                            aria-label="Left Align"><i
                                            class="fa fa-eye-slash fa-lg"></i></button>
                                </div>
                                <div class="item_catalog">
                                    <div class="layer-title-wrapper">
                                        <div tooltip-placement="bottom" uib-tooltip="Show/Hide details" class="glyphicon glyphicon-chevron-down" style="float: left; width: 0;padding-left: 0; padding-top: 20px" ng-click="mcl.toggleLayerControls(layer.id, $event)"></div>
                                        <div class="item_title" style="float: left;width:206px;padding-left: 20px;" ng-click="mcl.zoomToLayer(layer.id)" ng-bind="layer.title"></div>
                                        <div tooltip-placement="bottom" uib-tooltip="Remove layer" class="glyphicon glyphicon-remove" ng-click="mcl.removeLayer(layer.id, $index, layer.django_id)"></div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div class="layer-control-wrapper" ng-class="layer.id" style="display: none;margin-left:-14px;width:260px;border-top:1px solid #ddd; padding: 5px 10px;">
                                        <div class="item_desc">
                                            <slider class="slider" ng-model="mcl.sliderValues[layer.id]" min="0" max="100" step="1" on-slide="mcl.changeOpacity(layer.id)" on-stop-slide="mcl.changeOpacity(layer.id)" style="width:95%;"></slider>
                                            <div ng-if="layer.ogc_times">Specify date: <select ng-model="mcl.selectedLayerDates[layer.id]" ng-change="mcl.updateLayer(layer.id)" ng-options="o as o for o in layer.ogc_times"></select></div>
                                        </div>
                                        <div class="item_icon">
                                            <button tooltip-placement="bottom" uib-tooltip="Show/Hide legend" type="button" ng-if="layer.legend_url || layer.legend_graphic || layer.legend_colors" ng-click="mcl.toggleLegend(layer)"  class="btn btn-default" aria-label="Left Align"><i class="fa fa-list fa-lg"></i></button>
                                            <button tooltip-placement="bottom" uib-tooltip="Show metadata" type="button" ng-click="mcl.showMetadata(layer)" class="btn btn-default" aria-label="Left Align"><i class="fa fa-file-text-o fa-lg"></i></button>
                                            <button tooltip-placement="bottom" uib-tooltip="Zoom to layer" type="button" ng-click="mcl.zoomToLayer(layer.id)" class="btn btn-default" aria-label="Left Align"><i class="fa fa-search fa-lg"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END List GROUP -->
                </div>
                <div id="active_layer" class="toggle-button-wrapper" ng-class="mcl.wetlandListState">
                    <button id="show_active_layer" class="glyphicon" ng-if="mcl.showToggleButton" ng-click="mcl.toggleWetlandList('click')"></button>
                </div>
            </div>

            <div class="col-md-3 sidebar first" id="sidebar" ng-controller="ValidationCtrl as validation">
                <!-- Nav tabs -->

                <!--<div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>-->
                <!--<div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>-->
                <div class="wrapper">

                    <ul class="nav nav-tabs nav-justified list tabcount-all" role="tablist" id="sidebar-tabs">
                        <li role="presentation"  ng-class="{active: validation.activeTab==-1}" ><a id="link_wetland_list" href="#catalog" aria-controls="catalog" role="tab" data-toggle="tab" ng-click="wetlands.data.activeTab = -1" ><span> Layers </span></a></li>
                        <li role="presentation" ng-if="validation.layer.id != null" ng-class="{active: validation.activeTab==1}"><a id="link_wetland_opened" href="#wetland_{{validation.layer.id}}" aria-controls="wetland_{{validation.layer.id}}" role="tab" data-toggle="tab" ng-bind="validation.layer.alternate_title"></a></li>
                    </ul>

                </div>

                <!-- Tab panes -->

                <div class="tab-content" style="top:93px">
                    <div role="tabpanel" class="tab-pane" ng-class="{active: validation.activeTab==-1}" id="catalog">
                        <div ng-if="!validation.loaded">Loading layers... please wait </div>
						<div ng-if="validation.data.length==0">No layers found for your account</div>

                        <uib-accordion close-others="true" ng-repeat="site in validation.data">
                            <div uib-accordion-group heading="{{site.name}}">
							     <div class="list-group-item" ng-repeat="layer in site.validation_layers">
		                            <div class="catalog-item">
		                                <div class="item_center">
		                                    <div class="item_desc" ng-click="validation.loadValidationLayer(site.id, layer);">{{layer.alternate_title}}</div>
		                                </div>
		                            </div>
								</div>
							</div>
                        </uib-accordion>
                    </div>

                    <div role="tabpanel" class="tab-pane geospatial_data" ng-class="{active: validation.activeTab==1}" id="wetland_{{validation.layer.id}}">
                        
                        <div>
                        	
							<strong>{{validation.layer.validation_layer.alternate_title}}</strong>
							<swos-layer-controls ng-if="validation.layers[validation.layerIdMap[validation.layer.validation_layer.id]]" layer-hash="{{ validation.layerIdMap[validation.layer.validation_layer.id] }}"></swos-layer-controls>
							
							<!-- Accordion for additional resources -->
							<uib-accordion close-others="false" ng-if="validation.layer.validation_auxlayer.length > 0">
							    <div uib-accordion-group heading="Additional resources" is-open="true">
									<div class="select">
		                                <div ng-repeat="layer in validation.layer.validation_auxlayer" ng-controller="MapCurrentLayersCtrl as mcl" id="layer_vis_div_{{layer.id}}">
		                                    <input ng-if="validation.layerIdMap[layer.id] === undefined" type="checkbox" ng-click="validation.addLayerToMap(layer, $event);" id="layer_vis_{{layer.id}}"/>
		                                    <input ng-if="validation.layerIdMap[layer.id]" type="checkbox" ng-click="validation.addLayerToMap(layer, $event);" id="layer_vis_{{layer.id}}" checked="checked"/>
		                                    <label for="layer_vis_{{layer.id}}"> {{layer.alternate_title}}</label>
		                                    <swos-layer-controls ng-if="validation.layers[validation.layerIdMap[layer.id]]" layer-hash="{{ validation.layerIdMap[layer.id] }}"></swos-layer-controls>
		                                </div>
		                            </div>
								</div>
								<div uib-accordion-group heading="Segments" is-open="true">
                                    <button class="btn btn-primary" style="float:right;cursor:pointer;" ng-click="validation.exportSegments()">Export as Shapefile</button>
                                    <div class="btn-group">
								        <label class="btn btn-primary" ng-model="validation.segmentListType" uib-btn-radio="'all'">All</label>
								        <label class="btn btn-primary" ng-model="validation.segmentListType" uib-btn-radio="'todo'">Unedited</label>
								        <label class="btn btn-primary" ng-model="validation.segmentListType" uib-btn-radio="'done'">Done</label>
								    </div>
									<div class="segments" ng-if="validation.segments.features.length > 0" style="margin-top: 15px;">
										<strong>Number of features: </strong>{{validation.segments.totalFeatures}}<br />
										<strong>Show landcover visualization style: </strong>
										    <input type="checkbox" ng-click="validation.changeMapStyle($event);" id="segments_style"/>
                                            <label for="segments_style"></label>
										<br />
		                                 <div class="list-group-item ng-scope" ng-repeat="segment in validation.segments.features">
		                                    <div class="catalog-item">
		                                        <div class="item_center">
		                                            <div class="item_desc ng-binding" ng-click="validation.showSegment(segment);">Segment: {{segment.properties.SEGMENT_ID}}; ValID: {{segment.properties.ValID}}; ValCode: {{segment.properties.ValCode}}</div>
		                                        </div>
		                                    </div>
		                                </div>
										<button style="margin-top: 10px;" ng-if="validation.segmentsCurrentPage > 1" type="button"
                                                class="btn btn-prev" ng-click="validation.segmentsPaging('prev')">Previous
                                        </button>
                                        <button style="float:right;margin-top: 10px;" ng-if="validation.segmentsCurrentPage < validation.segmentsLastPage" type="button"
                                                class="btn btn-next" ng-click="validation.segmentsPaging('next')">Next
                                        </button>			                            
									</div>
                                </div>
							</uib-accordion>
                        </div>
                    </div>
                </div>
            </div>
            {% endverbatim %}

        </div>
    </div>

    <div style="display:none">
        <div id="popup"></div>
        <div id="stationPopup"></div>
    </div>

    <div id="info_text" style="display:none;">
        <div class="modal-header">
            <h1>Info</h1>
        </div>
        <div class="modal-body">
            <div class="text window_info">{{html_info|safe|linebreaks}}</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="mi.close()">
                Close
            </button>
        </div>
    </div>

    <div id="welcome_text" style="display:none">
        <p>Welcome to the first version of the <a href="http://swos-service.eu" target="_blank">SWOS</a> and <a href="http://www.geowetlands.org" target="_blank">GEO-Wetlands</a> Community portal. This portal is currently in development by the EU H2020 project <a href="http://swos-service.eu" target="_blank">Satellite-based Wetland Observation Service (SWOS)</a>. </p>
        <p>The SWOS team has made some maps available for visualization. For each wetland you can find additional data, such as images and videos, and an overview about available satellite data. We will add further maps, functions, and tools in the next months. Subscribe to the <a href="http://swos-service.us13.list-manage1.com/subscribe?u=c058ecca3e127c2a21fddf64e&amp;id=c17f9a0a5e" target="_blank">SWOS Newsletter</a> to remain updated.</p>
        <p class="hidden-xs">You can either start an introduction tour now or select the wetland of your interest in the panel on the right.</p>
        <p><strong>Disclaimer: </strong>Please note, all maps shown in the portal have preliminary status and have not yet been validated.</p>
        <p align="right" style="font-size: 0.9em;margin-bottom: 0;">June 2017</p>
    </div>

    {% assets "validationVendorJsBundle" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}

    {% assets "validationAppJsBundle" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}

    <div ng-view></div>

</body>
</html>
