<!DOCTYPE html>
<html lang="en" ng-app="webgisApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>SWOS WebGIS</title>

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    {% load staticfiles %}
    {% load assets %}
    {% assets "vendorCssBundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" />
    {% endassets %}

    {# requires fonts and css to be in the same directory, so no inclusion in bundle #}
    <link href="{% static "img/flaticon/font/flaticon.css" %}" rel="stylesheet" />

    {% assets "appCssBundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" />
    {% endassets %}

    {% assets "vendorJsHeadBundle" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}

    {% verbatim %}
    <script type="text/ng-template" id="close">
        <div class="triangle"></div>
        <div class="ns-popover-tooltip" ng-bind="layer.title">
            <button ng-click="hidePopover()">Close</button>
        </div>
    </script>
    {% endverbatim %}

    <script type="text/javascript">
        var mapId = {{id}};
        var subdir = '{{subdir}}';
    </script>

    <!--<script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyDKXC6g1wQVJzGF8L6R6suO4uhN36x_GbQ"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARWJfd0ov-WXWAtbyZjvqayhCDiUJFtPw"></script>

    <script type="text/javascript">
        var _paq = _paq || [];
        // add individual tracking code
    </script>
</head>
<body>
    <div id="loading-div"><div class="loading"><i class="fa fa-circle-o-notch fa-spin"></i></div></div>

    {% verbatim %}
    <div id="alerts" ng-controller="AlertCtrl as ac">
        <alert ng-repeat="alert in ac.alerts" type="{{alert.type}}" close="ac.closeAlert()">{{alert.msg}}</alert>
    </div>
    {% endverbatim %}

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand" id="title-left" style="padding-top: 4px;"><a href="http://www.geowetlands.org" target="_blank"><img src="/static/img/geo-wetlands-portal.jpg" border="0" height="60"></a></div>
            </div>

            <!-- TOOLBAR in Navigation für Tablet und Desktop -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right col-md-3" id="nav-top-right" ng-controller="LoginCtrl as lc" style="padding-right:0;">
                    <li>
                        <div style="margin-top: 3px;font-size: 0.8em;padding-left: 5px;">
                            <a href="http://www.swos-service.eu" target="_blank"><img src="/static/img/swos_logo_60.png" border="0" height="45" align="left" style="margin-right: 4px;"/></a>
                            <img src="/static/img/eu.png" alt="EU Logo" align="right" height="45"/>
                            <div style="font-size: 0.8em;">This portal is developed by the SWOS project, which has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 642088.</div>
                        </div>
                    </li>
                    <li class="dropdown btn-group pull-right" ng-include="'{% static "includes/auth.html" %}'" id="login-icon" style="display:none"></li>
                </ul>
                <ul class="nav navbar-nav pull-right" id="nav-top-right2">
                    <!--<li class="dropdown btn-group  pull-right" ng-include="'{% static "includes/settings.html" %}'"></li>-->
                    <li class="dropdown btn-group  pull-right" ng-include="'{% static "includes/info_swos.html" %}'"></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    {% verbatim %}
    <!-- NAVBAR SEARCH SMARTPHONE - Zweite Version, die auf dem Smartphone in einer separaten Zeile angezeigt wird.-->
    <nav class="navbar visible-xs" role="navigation" id="navbar-search" ng-controller="SearchBoxCtrl as sb">
        <div class="container-fluid">
            <form class="navbar-form navbar-right" ng-submit="sb.search();" role="search" id="xs-search">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="sb.text" placeholder="Search">
                </div>
            </form>
            <button class="btn btn-primary" type="submit"  id="toggle-sidebar">Menu</button>
        </div>
    </nav><!-- END NAVBAR SEARCH SMARTPHONE -->

    <!-- NAVBAR END -->

    <div class="container-fluid" id="center">
        <div class="row" ng-controller="MapCurrentLayersCtrl as mcl">

            <div id="gmap" class="col-sm-9 col-md-9 col-xs-12 main"></div>
            <div ng-controller="MapViewerCtrl as mv" class="col-sm-9 col-md-9 col-xs-12 main" map-openlayers id="map">

                <div class="map-controls-wrapper">

                    <div id="wetland_sites">
                        <input type="checkbox" ng-click="mv.changeSitesVisibility($event)" id="layer_sites"
                               checked="checked" autocomplete="off" /><label for="layer_sites">Show Wetland sites </label>
                    </div>
                    <div id="map_icons">
                        <button type="button" ng-click="mv.zoomIn($event)" class="btn btn-default btn-circle hidden-xs" id="zoomInButton"><i
                                class="fa-plus fa fa-lg"></i></button>
                        <button type="button" ng-click="mv.zoomOut($event)" class="btn btn-default btn-circle hidden-xs" id="zoomOutButton"><i
                                class="fa-minus fa fa-lg"></i></button>
                        <button type="button" ng-click="mv.zoomMaxExtent()" class="btn btn-default btn-circle"><i
                                class="fa-globe fa fa-lg"></i></button>
                        <!--<button type="button" ng-click="mv.createFeature()" class="btn btn-default btn-circle hidden-xs"><i class="fa-pencil-square-o fa fa-lg"></i></button>-->
                        <button type="button" ng-click="mv.requestInfo()" ng-class="{'btn-active': mv.infoStatus}" class="btn btn-default btn-circle"><i class="fa-info fa fa-lg"></i></button>
                    </div>

                    <div class="input-group hidden-xs" id="map_search" ng-controller="SearchBoxCtrl as sb">
                        <form ng-submit="sb.search();">
                            <input type="text" ng-model="sb.text" class="form-control" placeholder="Search for..."
                                   id="search_desktop">
                            <br style="clear:both"/>
                            <div id="search-extend">
                                <!--
                                <div style="float: left; padding-top: 10px;">
                                  <input type="checkbox" id="check_search" checked="checked" /><label for="check_search"></label> Checkbox
                                </div>
                                -->
                                <button class="btn btn-primary" type="submit" style="float: right; margin: 4px auto;">
                                    Search
                                </button>
                                <br style="clear:both;"/>
                            </div>

                        </form>
                    </div>

                    <div id="wetland_attribution"></div>
                    <!-- /input-group -->
                </div>

                <div id="disclaimer"><strong>Disclaimer: </strong>Please note, all maps have preliminary status and have not yet been validated!</div>

                <div id="cookienote" ng-hide="mv.hideCookieNote"><strong>Cookies: </strong>This website uses cookies to ensure you get the best experience on our website. <button ng-click="mv.closeCookieNote()">Okay</button></div>

                <div id="map_legend"></div>

                <div id="slider" style="display:none">
                    <div class="input"><input type="text" /></div>
                </div>

            </div>

            <div class="layer-list">
                <div id="current" ng-show="mcl.wetlandListState">

                    <!--
                       <div id="addexternallayer" ng-if="mapviewerdata.addexternallayer">
                           <hr />
                           <div align="center"><button type="button" ng-click="mcl.addOwnLayer()" class="btn btn-primary">Add own layer</button></div>
                           <hr />
                       </div>
                       -->
                    <!-- List GROUP -->
                    <!--<div ng-show="!mcl.layersMeta.length">No layers added to the map!</div>-->
                    <div class="layer-list-top-bar">
                        <div class="div-button" ng-click="mcl.removeAllLayers()">
                            <div class="glyphicon glyphicon-remove div-button-icon"></div>
                            <div class="div-button-text">Remove all layers</div>
                        </div>
                    </div>
                    <div class="list-group" dnd-list="mcl.layersMeta" dnd-drop="mcl.prepareIndex(index, item)">
                        <div class="list-group-item clearfix" ng-repeat="layer in mcl.layersMeta" dnd-draggable="layer"
                             dnd-moved="mcl.changeLayer($index)" dnd-effect-allowed="move" style="border-radius:0;">

                            <div class="catalog-item">
                                <div class="item_left" style="padding-top:12px;">
                                    <input type="checkbox" ng-click="mcl.changeVisibility(layer.id, $event)"
                                           id="id_{{ layer.id }}" checked="checked"/>
                                    <label for="id_{{ layer.id }}"></label>
                                </div>
                                <div class="item_catalog">
                                    <div class="layer-title-wrapper">
                                        <div class="item_title" style="float: left;width:206px;" ng-click="mcl.zoomToLayer(layer.id)" ng-bind="layer.title"></div>
                                        <div class="glyphicon glyphicon-chevron-down" ng-click="mcl.toggleLayerControls(layer.id, $event)">
                                            &nbsp;
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div class="layer-control-wrapper" ng-class="layer.id" style="display: none;margin-left:-14px;width:260px;border-top:1px solid #ddd; padding: 5px 10px;">
                                        <div class="item_desc">
                                            <slider class="slider" ng-model="mcl.sliderValues[layer.id]" min="0" max="100" step="1" on-slide="mcl.changeOpacity(layer.id)" on-stop-slide="mcl.changeOpacity(layer.id)" style="width:95%;"></slider>
                                            <div ng-if="layer.ogc_times">Specify date: <select ng-model="mcl.selectedLayerDates[layer.id]" ng-change="mcl.updateLayer(layer.id)" ng-options="o as o for o in layer.ogc_times"></select></div>
                                        </div>
                                        <div class="item_icon">
                                            <button tooltip-placement="bottom" tooltip="Show/Hide legend" type="button" ng-if="layer.legend_url || layer.legend_graphic || layer.legend_colors" ng-click="mcl.toggleLegend(layer)"  class="btn btn-default" aria-label="Left Align"><i class="fa fa-list fa-lg"></i></button>
                                            <button tooltip-placement="bottom" tooltip="Download data" ng-if="layer.downloadable" type="button" ng-click="mcl.download(layer)" class="btn btn-default" aria-label="Left Align"><i class="fa fa-download fa-lg"></i></button>
                                            <button tooltip-placement="bottom" tooltip="Show metadata" type="button" ng-click="mcl.showMetadata(layer)" class="btn btn-default" aria-label="Left Align"><i class="fa fa-file-text-o fa-lg"></i></button>
                                            <button tooltip-placement="bottom" tooltip="Show/Hide station list" type="button" ng-if="layer.ogc_type == 'SOS'" ng-click="mcl.toggleStations(layer)" class="btn btn-default" aria-label="Left Align"><i class="fa fa-list-ol fa-lg"></i></button>
                                            <button tooltip-placement="bottom" tooltip="Zoom to layer" type="button" ng-click="mcl.zoomToLayer(layer.id)" class="btn btn-default" aria-label="Left Align"><i class="fa fa-search fa-lg"></i></button>
                                            <button tooltip-placement="bottom" tooltip="Remove layer" type="button" ng-click="mcl.removeLayer(layer.id, $index, layer.django_id)" class="btn btn-default" aria-label="Left Align"><i class="fa fa-times fa-lg"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="layer-control-wrapper" ng-class="layer.id" style="display: none;">
                                    <div class="item_stations" ng-if="layer.ogc_type == 'SOS'" ng-hide="!layer.showStations">
                                        <strong>Available stations:</strong>
                                        <ul style="padding-left:20px;">
                                            <li ng-repeat="station in layer.stations"><a href="#" ng-click="mcl.zoomToStation(station);">{{ station.name }}
                                                ({{ station.lat.toFixed(2) }} {{ station.lon.toFixed(2) }})</a></li>
                                        </ul>
                                    </div>
                                    <div class="item_legend" style="margin-left:40px;margin-top:5px;" ng-if="layer.legend_url || layer.legend_graphic || layer.legend_colors" ng-hide="!layer.showLegend">
                                        <img ng-if="!layer.legend_colors && layer.legend_url" href="{{ layer.legend_url }}.jpg" ng-src="{{ layer.legend_url }}" alt="Layer legend" style="max-width:100%"/>
                                        <img ng-if="!layer.legend_colors && layer.legend_graphic && !layer.legend_url" ng-src="{{ layer.legend_graphic }}" alt="Layer legend" style="max-width:100%"/>
                                        <table ng-if="layer.legend_colors">
                                            <tr ng-repeat="item in layer.legend_colors track by $index">
                                                <td class="legend-color" ng-attr-style="background-color:{{item.color}};">&nbsp;</td>
                                                <td class="legend-label">{{ item.label }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END List GROUP -->
                </div>
                <div id="active_layer" class="toggle-button-wrapper" ng-class="mcl.wetlandListState">
                    <button id="show_active_layer" class="glyphicon" ng-if="mcl.showToggleButton" ng-click="mcl.toggleWetlandList('click')"></button>
                </div>
            </div>

            <div class="col-md-3 sidebar first" id="sidebar" ng-controller="WetlandsCtrl as wetlands">
                <!-- Nav tabs -->

                <!--<div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>-->
                <!--<div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>-->
                <div class="wrapper">

                    <ul class="nav nav-tabs nav-justified list tabcount-all" role="tablist" id="sidebar-tabs">
                        <li role="presentation"  ng-class="{active: wetlands.data.activeTab==-1}" ><a id="link_wetland_list" href="#catalog" aria-controls="catalog" role="tab" data-toggle="tab" ng-click="wetlands.data.activeTab = -1" ><span> Wetlands </span></a></li>
                        <!--<li role="presentation"><a href="#current" aria-controls="current" role="tab" data-toggle="tab">Current</a></li>-->
                        <li role="presentation" ng-if="wetlands.value.id != null" ng-class="{active: wetlands.data.activeTab==1}"><a id="link_wetland_opened" href="#wetland_{{wetlands.value.id}}" aria-controls="wetland_{{wetlands.value.id}}" role="tab" data-toggle="tab" ng-bind="wetlands.value.name"></a></li>
                        <!--<li ng-repeat="(key, value) in wetlands.wetlands_opened" ng-class="{active: wetlands.data.activeTab==value.id}" role="presentation"><a id="link_wetland_{{value.id}}" href="#wetland_{{value.id}}" aria-controls="wetland_{{value.id}}" role="tab" data-toggle="tab">{{value.name}} <span class="badge" repeat-done="wetlands.foo()" ng-click="wetlands.closeWetland(value.id)">&#10006;</span></a> </li>-->
                    </ul>

                </div>

                <!-- Tab panes -->

                <div class="tab-content" style="top:93px">
                    <div role="tabpanel" class="tab-pane" ng-class="{active: wetlands.data.activeTab==-1}" id="catalog" ng-controller="WetlandsFilterCtrl as wetlandsFilter">
                        <div class="filter" style="padding: 10px;padding-bottom: 0px;">
                            <select ng-model="wetlandsFilter.filtered_country" ng-change="wetlandsFilter.filterCountry()" style="width: 50%; margin-bottom: 10px;">
                                <option value="">- Filter by country -</option>
                                <option ng-repeat="option in wetlandsFilter.wetlands_without_geom | unique:'country' | orderBy: 'country'" value="{{option.country}}">{{option.country}}</option>
                            </select>
                            <select ng-model="wetlandsFilter.filtered_geo_scale" ng-change="wetlandsFilter.filterScale()" style="width: 40%; margin-bottom: 10px;">
                                <option value="">- Filter by scale -</option>
                               <!-- <option ng-repeat="option in wetlandsFilter.wetlands_without_geom | unique:'geo_scale'" value="{{option.geo_scale}}">{{option.geo_scale}}</option>-->
                                <option value="Small Site">Small Wetland Site</option>
                                <option value="Medium Site">Medium Wetland Site</option>
                                <option value="Large Site">Large Wetland Site</option>
                            </select>
                            <select ng-model="wetlandsFilter.filtered_wetland_type" ng-change="wetlandsFilter.filterWetlandType()" style="width: 50%; margin-bottom: 10px;">
                                <option value="">- Filter by wetland type -</option>
                                <option ng-repeat="option in wetlandsFilter.wetlands_without_geom | unique:'wetland_type'" value="{{option.wetland_type}}">{{option.wetland_type}}</option>
                            </select>
                            <select ng-model="wetlandsFilter.filtered_site_type" ng-change="wetlandsFilter.filterSiteType()" style="width: 40%;margin-bottom: 10px;">
                                <option value="">- Filter by site type -</option>
                                <option ng-repeat="option in wetlandsFilter.wetlands_without_geom | unique:'site_type'" value="{{option.site_type}}">{{option.site_type}}</option>
                            </select>
                            <select ng-model="wetlandsFilter.filtered_ecoregion" ng-change="wetlandsFilter.filterEcoregion()" style="width: 91%;margin-bottom: 10px;">
                                <option value="">- Filter by ecoregion -</option>
                                <option ng-repeat="option in wetlandsFilter.wetlands_without_geom | unique:'ecoregion'  | orderBy: 'ecoregion'" value="{{option.ecoregion}}">{{option.ecoregion}}</option>
                            </select>
                            <select ng-model="wetlandsFilter.filtered_products" ng-change="wetlandsFilter.filterProduct()" style="width: 91%">
                                <option value="">- Filter by product -</option>
                                <!-- products is an array for each wetland, thus first of all manual list of products -->
                                <!--<option ng-repeat="option in wetlandsFilter.wetlands_without_geom | unique:'products'" value="{{option.products}}">{{option.products}}</option>-->
                                <option value="FloodReg">Flood Regulation</option>
                                <option value="LST">Land Surface Temperature Trend</option>
                                <option value="LULC">Land Use Land Cover</option>
                                <option value="LULCC_L">Land Use Land Cover Change</option>
                                <option value="PotWet">Potential Wetland areas</option>
                                <option value="SWD">Surface Water Dynamics</option>
                                <option value="WQ">Water Quality</option>
                            </select>
                        </div>
                        <div style="padding: 10px;padding-bottom: 0;">
                            <input type="checkbox" ng-model="wetlandsFilter.filtered_testmapping" ng-change="wetlandsFilter.filterTestmapping()"
                                   id="cb_testmapping"/><label for="cb_testmapping">Show only wetlands with products</label>
                        </div>
                        <div style="padding: 10px;padding-bottom: 0;padding-top: 0;">
                            <input type="checkbox" ng-model="wetlandsFilter.sortByCountryName" ng-change="wetlandsFilter.setSortOrder()"
                                   id="cb_groupbycountry"><label for="cb_groupbycountry">Sort by country</label>
                        </div>
                        <!--<div style="padding: 10px;padding-bottom: 0;"><input ng-model="search" placeholder="Search for ..."></div>-->
                        <hr/>
                        <div ng-if="wetlandsFilter.wetlands_without_geom==0">Loading wetlands... please wait </div>

                        <div ng-repeat="layer in wetlandsFilter.wetlands_without_geom | filter:search | orderBy: wetlandsFilter.sortOrder "
                             ng-if="layer.show" class="list-group-item clearfix"
                             ng-click="wetlands.selectWetland(layer)" title="{{layer.title}}">
                            <!-- ng-mouseenter="hoverLayer(this, layer.id, $event)" data-toggle="popover"
                             data-trigger="manual" data-placement="left" data-container="body"
                             data-html="true" data-content="{{layer.abstract}}" ns-popover ns-popover-template="close"
                             ns-popover-trigger="mouseenter" ns-popover-theme="ns-popover-tooltip-theme"
                             ns-popover-hide-on-click="false" ns-popover-timeout="1"-->
                            <div class="catalog-item">
                                <div class="item_center">
                                    <div class="item_title">{{layer.name}}</div>
                                    <div class="item_desc">{{layer.country}}</div>
                                </div>
                                <div class="item_right">
                                    <button type="button" class="btn btn-default btn-xs button_catalog_meta" aria-label="Left Align" >
                                        <!-- tooltip-placement="bottom" tooltip="Show metadata" ng-click="showMetadata(layer)" -->
                                        <i class="fa fa-file-text-o fa-lg "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane geospatial_data" ng-if="wetlands.value['id']"
                         ng-class="{active: wetlands.data.activeTab==1, noImage: wetlands.value.data.image == null}" id="wetland_{{wetlands.value.id}}">
                        <!--<h2>{{wetlands.value.name}}</h2>-->
                        <div ng-if="wetlands.value.data.image!=null" class="wetland-image">
                            <a href="{{wetlands.value.data.image}}" class="fancybox" rel="wetland_{{wetlands.value.id}}" title="{{wetlands.value.data.image_desc}}">
                                <img ng-src="{{wetlands.value.data.image}}" width="100%"/>
                            </a>
                            <div class="panoramio-wapi-tos wetland_image">
                                <div class="desc">{{wetlands.value.data.image_desc}}</div>
                                <div ng-if="wetlands.value.data.image.indexOf('panoramio') > -1">
                                    <a href="http://www.panoramio.com" target="_blank">
                                        <img src="http://www.panoramio.com/img/logo-tos.png" width="67" height="14">
                                    </a>
                                    <span style="font-size:12px;">The owners of the photos hold their copyrights!</span>
                                </div>
                            </div>
                        </div>

                        <div ng-controller="TrackingCtrl as tracking">
                            <tabset justified="true">
                                <!-- Overview -->
                                <tab class="flaticon-bars" heading="" tooltip="Overview" tooltip-append-to-body="true" select="tracking.trackWetlandTab('overview')">
                                    <h4>Wetland specifications</h4>
                                    <div class="properties">
                                        <strong>Country: </strong>{{wetlands.value.country}}<br>
                                        <strong>Scale: </strong>{{wetlands.value.geo_scale}}<br>
                                        <strong>Type: </strong>{{wetlands.value.site_type}} | {{wetlands.value.wetland_type}}<br>
                                        <strong>Ecoregion: </strong>{{wetlands.value.ecoregion}}<br>
                                        <strong>Size: </strong>{{wetlands.value.size}} ha<br>
                                    </div>

                                    <h4 style="margin-top:15px">Datasets</h4>
                                    <div class="buttons" style="text-align: center;margin-top: 20px;">
                                        <button type="button" class="btn btn-wetland" onclick="$('li.flaticon-business a').click()">
                                            <div class="flaticon-business"></div>{{wetlands.dataCount.indicators}} Indicators</button>
                                        <button type="button" class="btn btn-wetland" onclick="$('li.flaticon-layers a').click()">
                                            <div class="flaticon-layers"></div>{{wetlands.dataCount.products}} Products</button>
                                        <button type="button" class="btn btn-wetland" onclick="$('li.flaticon-space-satellite-station a').click()">
                                            <div class="flaticon-space-satellite-station"></div>{{wetlands.dataCount.satdata}} Satellite data</button>
                                        <button type="button" class="btn btn-wetland" onclick="$('li.flaticon-technology-1 a').click()">
                                            <div class="flaticon-technology-1"></div>{{wetlands.dataCount.images}} Photos</button>
                                        <button type="button" class="btn btn-wetland" onclick="$('li.flaticon-technology a').click()">
                                            <div class="flaticon-technology"></div>{{wetlands.dataCount.videos}} Videos</button>
                                        <button type="button" class="btn btn-wetland" onclick="$('li.flaticon-technology-2 a').click()">
                                            <div class="flaticon-technology-2"></div>{{wetlands.dataCount.externaldb}} External databases</button>
                                    </div>
                                </tab>

                                <!-- Indicators -->
                                <tab class="flaticon-business" heading="" tooltip="Indicators" tooltip-append-to-body="true" select="tracking.trackWetlandTab('indicator')">
                                    <div ng-if="wetlands.value.data.indicators.length == 0">No indicators available!</div>

                                    <!--
                                    <ul class="items indicators">
                                        <li>
                                            <input type="checkbox" id="indicator_statustrend" /><label for="indicator_statustrend">Status and Trend of Wetland</label>
                                            <div class="graphic">
                                                <img src="/swos/static/img/azraq_indicator.png" width="100%" />
                                            </div>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="indicator_inund" /><label for="indicator_inund">Inundation of the Ecosystem</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="indicator_wetlandchange" /><label for="indicator_wetlandchange">Change in Wetland</label>
                                        </li>
                                    </ul>
                                    -->
                                </tab>

                                <!-- Products -->
                                <tab class="flaticon-layers"  heading="" tooltip="Products" tooltip-append-to-body="true"  select="tracking.trackWetlandTab('product')" id="product">
                                    <div ng-if="wetlands.value.data.products.length == 0">No products available!</div>
                                    <div class="remove-button-wrapper">
                                        <div class="div-button" ng-click="wetlands.removeAllLayers()">
                                            <div class="glyphicon glyphicon-remove div-button-icon"></div>
                                            <div class="div-button-text">Remove all layers</div>
                                        </div>
                                        <div class="div-button" style="width: 225px;" ng-click="wetlands.removeLayersByWetland(wetlands.value.id)">
                                            <div class="glyphicon glyphicon-remove div-button-icon"></div>
                                            <div class="div-button-text">Remove layers of this Wetland</div>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <ul class="items products">

                                        <accordion close-others="false">
                                            <accordion-group ng-repeat="product in wetlands.value.data.products"  heading="{{product.name}}" is-open="product.open">
                                                <accordion-heading ng-click="tracking.trackProduct(product.name, product.open);">
                                                    <span class="project">[SWOS]</span> {{product.name}}
                                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': product.open, 'glyphicon-chevron-right': !product.open}"></i>
                                                </accordion-heading>
                                                <div class="options">
                                                    <p ng-text-truncate='product.description' ng-tt-chars-threshold="200"></p>
                                                    <div class="products_datasets">
                                                        <strong>Datasets:</strong>
                                                        <div class="select" ng-if="product.layers.length > 0">
                                                            <div ng-repeat="layer in product.layers" id="layer_vis_div_{{layer.id}}">
                                                                <input ng-if="wetlands.layerIdMap[layer.id] === undefined" type="checkbox" ng-click="wetlands.addLayerToMap(layer, $event);" id="layer_vis_{{layer.id}}" />
                                                                <input ng-if="wetlands.layerIdMap[layer.id]" type="checkbox" ng-click="wetlands.addLayerToMap(layer, $event);" id="layer_vis_{{layer.id}}" checked="checked" />
                                                                <label for="layer_vis_{{layer.id}}"> {{layer.alternate_title}}</label>
                                                                <swos-layer-controls ng-if="wetlands.layers[wetlands.layerIdMap[layer.id]]" layer-hash="{{ wetlands.layerIdMap[layer.id] }}"></swos-layer-controls>
                                                            </div>
                                                        </div>
                                                        <div class="select" ng-if="product.layers.length == 0">
                                                            No datasets available.
                                                        </div>
                                                    </div>
                                                </div>

                                            </accordion-group>
                                        </accordion>
                                    </ul>
                                </tab>

                                <!-- Data -->
                                <tab class="flaticon-space-satellite-station" heading="" tooltip="Satellite data" tooltip-append-to-body="true"  select="tracking.trackWetlandTab('satdata')">
                                    <accordion close-others="false">
                                        <accordion-group is-open="wetlands.satdata_image">
                                            <accordion-heading>
                                                Yearly coverage by sensor
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wetlands.satdata_image, 'glyphicon-chevron-right': !wetlands.satdata_image}"></i>
                                            </accordion-heading>
                                            <a href="/media/cache/satdata_{{wetlands.value.id}}.png" ng-click="tracking.trackShowSatdataImage('/media/cache/satdata_{{wetlands.value.id}}.png')" class="fancybox"><img ng-src="/media/cache/satdata_{{wetlands.value.id}}_small.png" width="100%" /></a>
                                        </accordion-group>
                                        <accordion-group is-open="wetlands.satdata_table">
                                            <accordion-heading>
                                                Total amount by sensor
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wetlands.satdata_table, 'glyphicon-chevron-right': !wetlands.satdata_table}"></i>
                                            </accordion-heading>
                                            <table class="table data">
                                                <tr>
                                                    <!--<th>&nbsp;</th>-->
                                                    <th>Sensor</th>
                                                    <th>Scenes</th>
                                                    <th>Start</th>
                                                    <th>End</th>
                                                </tr>
                                                <tr ng-if="!wetlands.value.satdata">
                                                    <td colspan="4">Loading...</td>
                                                </tr>
                                                <tr ng-repeat="data in wetlands.value.satdata" >
                                                    <!--<td><input type="checkbox" id="layer_data_s2" /><label for="layer_data_s2"></label></td>-->
                                                    <td>{{data.sensor}}</td>
                                                    <td>{{data.count}}</td>
                                                    <td>{{data.begindate}}</td>
                                                    <td>{{data.enddate}}</td>
                                                </tr>
                                            </table>
                                        </accordion-group>
                                    </accordion>

                                    <div class="note">
                                        <strong>Please note: </strong>
                                        <p>Official satellite data archives have been queried once on 2017-04-15. Regular updates are planned.</p>
                                        <p>So far there has been no filter conducted to cloud coverage and area of overlap between the scene bounding box and the wetland area!</p>
                                        <p>Further satellite data discovery and processing tools are planned within the SWOS project.</p>
                                    </div>
                                </tab>

                                <!-- Photos -->
                                <tab class="flaticon-technology-1" heading="" tooltip="Photos" tooltip-append-to-body="true"  select="tracking.trackWetlandTab('images')">
                                    <div ng-controller="WetlandsImageCtrl as wetlandsImage">
                                        <accordion ng-if="wetlandsImage.images.photos.length > 0">
                                            <accordion-group is-open="wetlandsImage.imagesIsOpen">
                                                <accordion-heading>Images
                                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wetlandsImage.imagesIsOpen, 'glyphicon-chevron-right': !wetlandsImage.imagesIsOpen}"></i>
                                                </accordion-heading>
                                                <div style="/*height: 185px;overflow-y: auto;*/">
                                                    <!--<span ng-if="!wetlandsImage.images">Loading...</span>-->
                                                    <a ng-repeat="image in wetlandsImage.images.photos"
                                                       ng-click="'{{image.photo_title}}'"
                                                       class="fancybox" rel="gallery1" data-fancybox-href="{{ image.photo_show_url }}"
                                                       data-fancybox-title="{{ image.description }}&nbsp;({{ image.date }}) {{image.photo_title}} ({{image.owner_name}})"
                                                       href="{{image.photo_url_thumb}}" target="_blank"><img
                                                            ng-src="{{image.photo_url_thumb}}"
                                                            alt="{{image.photo_title}} ({{image.owner_name}})"
                                                            title="{{image.photo_title}} ({{image.owner_name}})"
                                                            style="width: 52px; height: 52px; left: 0; top: 0;margin: 5px;"></a>
                                                </div>
                                                <button style="margin-left: 5px;" ng-if="wetlandsImage.images.currentPage > 1" type="button"
                                                        class="btn btn-prev" ng-click="wetlandsImage.moreImages('prev')">Previous
                                                </button>
                                                <button style="float:right;margin-right: 10px;" ng-if="wetlandsImage.images.currentPage < wetlandsImage.images.lastPage" type="button"
                                                        class="btn btn-next" ng-click="wetlandsImage.moreImages('next')">Next
                                                </button>
                                            </accordion-group>
                                        </accordion>
                                        <accordion ng-if="wetlandsImage.externalImages.photos.length > 0">
                                            <accordion-group is-open="wetlandsImage.externalImagesIsOpen">
                                                <accordion-heading>Panoramio images
                                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wetlandsImage.externalImagesIsOpen, 'glyphicon-chevron-right': !wetlandsImage.externalImagesIsOpen}"></i>
                                                </accordion-heading>
                                                <div style="/*height: 185px;overflow-y: auto;*/">
                                                    <!--<span ng-if="!wetlandsImage.externalImages">Loading...</span>-->
                                                    <a ng-repeat="image in wetlandsImage.externalImages.photos"
                                                       ng-click="tracking.trackShowImage('http://static.panoramio.com/photos/large/{{image.photo_id}}.jpg', '{{image.photo_title}')"
                                                       class="fancybox" rel="gallery1"
                                                       data-fancybox-href="http://static.panoramio.com/photos/large/{{image.photo_id}}.jpg"
                                                       data-fancybox-title="<a href='{{image.photo_url}}' target='_blank'>{{image.photo_title}}</a> (<a href='{{image.owner_url}}' target='_blank'>{{image.owner_name}}</a>)"
                                                       href="{{image.photo_url}}" target="_blank"><img
                                                            ng-src="{{image.photo_file_url}}"
                                                            alt="{{image.photo_title}} ({{image.owner_name}})"
                                                            title="{{image.photo_title}} ({{image.owner_name}})"
                                                            style="width: 52px; height: 52px; left: 0; top: 0;margin: 5px;"></a>
                                                </div>
                                                <div class="panoramio-wapi-tos"
                                                     style="width: 396px; color: black !important; background-color: white !important;">
                                                    <a href="http://www.panoramio.com" target="_top"><img
                                                            src="http://www.panoramio.com/img/logo-tos.png" width="67" height="14"></a>
                                                    <span style="font-size:12px;">The copyright of the photos hold their owners!</span>
                                                </div>
                                                <button style="margin-left: 5px;" ng-if="wetlandsImage.externalImages.currentPage > 1" type="button"
                                                        class="btn btn-prev" ng-click="wetlandsImage.moreExternalImages('prev')">Previous
                                                </button>
                                                <button style="float:right;margin-right: 10px;" ng-if="wetlandsImage.externalImages.currentPage < wetlandsImage.externalImages.lastPage"
                                                        type="button" class="btn btn-next" ng-click="wetlandsImage.moreExternalImages('next')">Next
                                                </button>
                                            </accordion-group>
                                        </accordion>
                                    </div>
                                </tab>

                                <!-- Videos -->
                                <tab class="flaticon-technology" heading="" tooltip="Videos" tooltip-append-to-body="true"  select="tracking.trackWetlandTab('video')">
                                    <div ng-controller="WetlandsVideoCtrl as wetlandsVideo">
                                        <div>
                                            <span ng-if="!wetlandsVideo.videos.videos">Loading...</span>
                                            <a ng-repeat="video in wetlandsVideo.videos.videos" ng-click="tracking.trackShowVideo('{{video.url}}')"
                                               class="fancybox fancybox.iframe" data-fancybox-href="{{video.url.toString().replace('watch?v=', 'embed/')}}?autoplay=1"
                                               href="{{video.url}}" target="_blank">
                                                <img ng-src="{{video.img}}" alt="{{video.title}}" title="{{video.title}}" style="width: 110px; left: 0; top: 0;margin: 5px;">
                                            </a>
                                        </div>
                                        <button ng-if="wetlandsVideo.videos.currentPage < wetlandsVideo.videos.lastPage" type="button" class="btn btn-loadmore" ng-click="wetlandsVideo.loadMoreVideos()">Load more videos</button>
                                    </div>
                                </tab>

                                <!-- External databases -->
                                <tab class="flaticon-technology-2" heading="" tooltip="External data" tooltip-append-to-body="true" select="tracking.trackWetlandTab('externaldb')">
                                    <div ng-if="wetlands.value.data.externaldb.length == 0">No external databases registered!</div>
                                    <div ng-if="wetlands.value.data.externaldb.length != 0"><!--{{ wetlands.value.data.externaldb.length }} external databases registered!-->
                                        <div ><input ng-model="wetlands.externaldb_search.searchText" placeholder="Search for ...">
                                            <input  type="checkbox" ng-model="wetlands.externaldb_search.layer_exist" id="only_layer">
                                            <label for="only_layer" style="margin-top: 8px;" >
                                                <div class="flaticon-layers" style="display: inline-block;"></div> Filter by maps
                                            </label>
                                        </div>
                                    </div>

                                    <accordion>
                                        <accordion-group ng-repeat="externaldb_group in wetlands.value.data.externaldb" is-open="externaldb_group.open">
                                            <accordion-heading>
                                                {{ externaldb_group.group }} ({{ (externaldb_group.datasets|filter: wetlands.externaldb_search.searchText | filter:externaldb.layer_exist = wetlands.externaldb_search.layer_exist ).length }})
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': externaldb_group.open, 'glyphicon-chevron-right': !externaldb_group.open}"></i>
                                            </accordion-heading>
                                            <accordion>
                                                <accordion-group  is-open="externaldb.open2" ng-repeat="externaldb in externaldb_group.datasets | filter:wetlands.externaldb_search.searchText | filter:externaldb.layer_exist = wetlands.externaldb_search.layer_exist ">
                                                    <accordion-heading>
                                                        <div ng-if="externaldb.layers.length > 0" class="flaticon-layers"> {{externaldb.name}}
                                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': externaldb.open2, 'glyphicon-chevron-right': !externaldb.open2}"></i></div>
                                                        <div ng-if="!externaldb.layers.length" class="flaticon-internet"> {{externaldb.name}}
                                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': externaldb.open2, 'glyphicon-chevron-right': !externaldb.open2}"></i></div>
                                                    </accordion-heading>
                                                    <p ng-text-truncate='externaldb.description' ng-tt-chars-threshold="200"></p>
                                                    <div ng-if="externaldb.provided_info"><strong>Provided data:</strong><p ng-text-truncate='externaldb.provided_info' ng-tt-chars-threshold="200"></p></div>
                                                    <strong>Link:</strong>
                                                    <div><p><a href="{{ externaldb.online_link }}" target="_blank">{{externaldb.online_link}}</a> <span ng-if="externaldb.language != 'en'">({{ externaldb.language }})</span></p></div>
                                                    <div class="select" ng-if="externaldb.layers.length > 0">
                                                        <strong>Datasets:</strong>
                                                        <div ng-repeat="layer in externaldb.layers"
                                                             ng-controller="MapCurrentLayersCtrl as mcl" id="layer_vis_div_{{layer.id}}">
                                                            <input ng-if="wetlands.layerIdMap[layer.id] === undefined" type="checkbox" ng-click="wetlands.addLayerToMap(layer, $event);" id="layer_vis_{{layer.id}}"/>
                                                            <input ng-if="wetlands.layerIdMap[layer.id]" type="checkbox" ng-click="wetlands.addLayerToMap(layer, $event);" id="layer_vis_{{layer.id}}" checked="checked"/>
                                                            <label for="layer_vis_{{layer.id}}"> {{layer.alternate_title}}</label>
                                                            <swos-layer-controls ng-if="wetlands.layers[wetlands.layerIdMap[layer.id]]" layer-hash="{{ wetlands.layerIdMap[layer.id] }}"></swos-layer-controls>
                                                        </div>
                                                    </div>
                                                </accordion-group>
                                            </accordion>
                                        </accordion-group>
                                    </accordion>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
            {% endverbatim %}

        </div>
    </div>

    <div style="display:none">
        <div id="popup"></div>
        <div id="stationPopup"></div>
    </div>

    <div id="info_text" style="display:none;">
        <div class="modal-header">
            <h1>Info</h1>
        </div>
        <div class="modal-body">
            <div class="text window_info">{{html_info|safe|linebreaks}}</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="mi.close()">
                Close
            </button>
        </div>
    </div>

    <div id="welcome_text" style="display:none">
        <p>Welcome to the first version of the <a href="http://swos-service.eu" target="_blank">SWOS</a> and <a href="http://www.geowetlands.org" target="_blank">GEO-Wetlands</a> Community portal. This portal is currently in development by the EU H2020 project <a href="http://swos-service.eu" target="_blank">Satellite-based Wetland Observation Service (SWOS)</a>. </p>
        <p>The SWOS team has made some maps available for visualization. For each wetland you can find additional data, such as images and videos, and an overview about available satellite data. We will add further maps, functions, and tools in the next months. Subscribe to the <a href="http://swos-service.us13.list-manage1.com/subscribe?u=c058ecca3e127c2a21fddf64e&amp;id=c17f9a0a5e" target="_blank">SWOS Newsletter</a> to remain updated.</p>
        <p>You can either start an introduction tour now or select the wetland of your interest in the panel on the right.</p>
        <p><strong>Disclaimer: </strong>Please note, all maps shown in the portal have preliminary status and have not yet been validated.</p>
        <p align="right" style="font-size: 0.9em;margin-bottom: 0;">May 1, 2017</p>
    </div>

    {% assets "vendorJsContentBundle" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}

    {% assets "appJsContentBundle" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}

    <div ng-view></div>

</body>
</html>
