@media (min-width: 768px) {
    #sidebar > .tab-content {
        top: 50px;
    }
}

.geospatial_data > h2 {
    background-color: #528196;
}

.btn-wetland {
    color: white;
    background-color: #1d5976;
    border-color: #1d5976;
}

button.btn-wetland:hover {
    background-color: #528196 !important;
    border-color: #528196 !important;
}

#map_icons {
    top: 30px;
    position: absolute;
    right: 5px;
}

.ol-mouse-position, .ol-scale-line {
    bottom: 0px !important;
}

.btn-info, .btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    color: #fff !important;
    background-color: #528196 !important;
    border-color: #528196 !important;
}

.btn-loadmore {
    color: white;
    background-color: #528196;
    border-color: #528196;
    width: 100%;
    margin-bottom: 10px;
}

button.btn-loadmore:hover {
    background-color: #1d5d86 !important;
    border-color: #1d5d86 !important;
}

.buttons.overview button {
    cursor: pointer;
}