@media (min-width: 768px) {
    #sidebar > .tab-content {
        top: 50px;
    }
}

.geospatial_data > h2 {
    background-color: #528196;
}

.btn-wetland {
    color: white;
    background-color: #1d5976;
    border-color: #1d5976;
}

button.btn-wetland:hover {
    background-color: #528196 !important;
    border-color: #528196 !important;
}

#map_icons {
    top: 5px;
    position: absolute;
    right: 5px;
}

.ol-mouse-position, .ol-scale-line {
    bottom: 65px !important;
}

.btn-info, .btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    color: #fff !important;
    background-color: #528196 !important;
    border-color: #528196 !important;
}

.btn-loadmore {
    color: white;
    background-color: #528196;
    border-color: #528196;
    width: 100%;
    margin-bottom: 10px;
}

button.btn-loadmore:hover {
    background-color: #1d5d86 !important;
    border-color: #1d5d86 !important;
}

.buttons.overview button {
    cursor: pointer;
}

#layer_vis_div_dwd_stations_layer .item_icon, #layer_vis_div_myseasons_layer .item_icon {
    display: none;
}

#slider .tooltip.bottom {
    margin-top: 20px !important;
}

.right-bottom-logo {
    position: absolute;
    bottom: 0;
    font-size: 0.85em;
    width: 100%;
    padding-right: 15px;
    margin-bottom: 2px;
    padding-left: 2px;
    border-top: 1px solid gray;
    padding-top: 3px;
}

@media (min-width: 768px) {
    #sidebar > .tab-content {
        bottom: 60px !important;
    }
}

.map-controls-wrapper {
    left: calc(50% - 320px);
    right: auto;
    top: 0;
    z-index: 1032;
    display: none;
}

@media (min-width: 1100px) {
    .map-controls-wrapper {
        display: block;   
     }
}

@media (min-width: 1360px) {
	#wetland_attribution {
        left: 0;
    }
    #map_icons {
        top: 30px;
    }
}

.swosLayerControls {
	display: block;
	margin-bottom: 10px;
}