@media (min-width: 768px) {
	#sidebar > .tab-content {
	    bottom: 0px;
	}
}

.list-group {
	margin-bottom: 0;
}

.list-group-item:hover {
    background-color: #336a5c;
    cursor: pointer;
    color: white;
}

.list-group-item:hover select {
    color: black;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:12px;
  white-space:nowrap;
  vertical-align:middle;
  background-color:#fff;
  position: relative;
  z-index: 9;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

#sidebar-tabs {
	overflow-y: hidden;
    height: 39px;
    overflow-x: auto;
    position: absolute;
    left: 0px;
    min-width: 3000px;
	background-color: #336a5c; /* #003251 */
}

.tabcount-all > li {
	width: auto !important;
}

.badge {
    padding: 3px 5px;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

button.button_catalog_meta {
	display: none !important;
}

/*
#sidebar .properties {
	border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
*/

#sidebar .properties strong {
    width: 20%;
    display: block;
    float: left;
    margin-left: 5px;
}

#sidebar h2 {
	margin-top: 0;
	margin-left: 5px;
	font-size: 26px;
}

.geospatial_data ul.items {
    list-style-type: none;
    padding-left: 0;
}

.geospatial_data ul.items li {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
/*
ul.products li:hover {
    background-color: #336a5c;
	color: white;
}
*/

/* excluded because of accordion integration
.external_data {
	position: absolute;
    bottom: 0;
    height: 290px;
}

.geospatial_data {
	position: absolute;
    top: 63px;
    bottom: 292px;
	overflow: auto;
	width: 100%;
}
*/ 

.external_data h3, .geospatial_data h3 {
	background: #336a5c;
    color: white;
    margin: 0;
    padding: 5px;
	font-size: 20px;
}

.sidebar label {
	font-size: 14px;
	font-weight: normal;
}

.sidebar li:hover label {
	/*font-weight: bold;*/
}

h4 {
	font-weight:bold;
	font-size: 16px;
}

#current {
    width: 307px;
    position: absolute;
    top: 97px;
    left: -3px;
}

@media (min-width: 1070px) {
    #current {
        top: 65px;
    }
}

#map_icons {
    left: auto;
    float: left;
    margin-right: 20px;
    top: auto; 
    width: auto; 
    position: relative; 
    z-index: 1001; 
    left: auto; 
}

#map_search {
    position: relative;
    right: auto;
    top: auto;
    width: calc(100% - 350px);
    max-width: 300px;
}

#title-left {
	width: 324px;
}

#wetland_sites {
    color: white;
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 13px;
    z-index: 1022;
}

#wetland_attribution {
    position: absolute;
    right: 8px;
    top: 55px;
    color: white;
    z-index: 1022;
    float: right;
}

#wetland_opened .accordion .panel-body {
	padding: 0;
}

.geospatial_data .tab-content {
    position: absolute;
    bottom: 0;
    height: calc(100% - 277px);
	height: -moz-calc(100% - 285px);
    overflow: auto;
    width: 100%;
}

.geospatial_data.noImage .tab-content {
	height: calc(100% - 50px);
	height: -moz-calc(100% - 50px);
}

.wetland-image {
	max-height: 225px;
    overflow: hidden;
}

.btn-wetland {
	color: white;
	background-color: #063B52;
	border-color: #063B52; /* #063B52 */
	width: 40%;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

button.btn-wetland:hover {
	background-color: #336A5C !important;
	border-color: #336A5C !important;
}

.btn-loadmore {
	color: white;
	background-color: #063B52;
	border-color: #063B52;
	width: 100%;
	margin-bottom: 10px;
}

button.btn-loadmore:hover {
	background-color: #336A5C !important;
	border-color: #336A5C !important;
	cursor: pointer !important;
}

.table.data th {
	border-top: 0px;
}

.fancybox-overlay .fancybox-title a {
	color: #336A5C;
}

#map_legend {
	background-color: white;
    width: 500px;
    position: absolute;
    bottom: 16px;
    z-index: 99999;
    right: 2px;
}

#map_legend h4 {
	margin-top: 5px;
}

.panoramio-wapi-tos.wetland_image {
	width: 396px;
    position: absolute;
    top: 190px;
    font-size: 12px;
    color: white;
    padding-left: 3px;
}

.wetland-image>a>img {
    height: 225px;
}

/*
.geospatial_data .wetland-image:hover .panoramio-wapi-tos.wetland_image {
	top: 190px;
}

.panoramio-wapi-tos.wetland_image .desc {
	display:none;
}

.geospatial_data .wetland-image:hover .panoramio-wapi-tos.wetland_image .desc {
	display:block;
}
*/

@media (min-width: 768px){
	.col-md-3 {
	    width: 405px;
	}
}

@media (min-width: 768px) {
	#sidebar > .tab-content {
	    right: 2px;
	    width: 400px;
	}
}

@media (min-width: 768px) {
	.col-md-9 {
	    width: calc(100% - 405px);
		width: -moz-calc(100% - 405px);
	}
}

@media (max-height: 680px) {
	.geospatial_data .wetland-image {
		display:none;
	}
	.geospatial_data .tab-content {
		height: calc(100% - 50px);
    	height: -moz-calc(100% - 50px);
	}
}

.layer-list-top-bar {
    background-color: white;
    border-top: lightgrey solid 1px;
    height: 25px;
}

.div-button {
    border: 1px solid lightgray;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    width: 145px;
}

.remove-button-wrapper .div-button {
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.div-button-icon {
    float:left;
    margin-top: 4px;
}

.div-button-text {
    float:left;
    margin-left: 5px;
    margin-top: 1px;
}

.layer-list-top-bar > .div-button {
    border-bottom: none;
    border-top: none;
    margin-left: 42px;
}

.toggle-button-wrapper {
    display: block;
    left: 0;
    position: absolute;
    top: 106px;
}

@media (min-width: 1070px) {
    .toggle-button-wrapper {
        top: 74px;
    }
}

.toggle-button-wrapper.expanded {
    left: 302px;
}

.toggle-button-wrapper > button {
    background-color: white;
    border: none;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    height: 25px;
    width: 25px;
}

.toggle-button-wrapper > .badge-wrapper {
    background-color: white;
    height: 25px;
}

.layer-title-wrapper .glyphicon {
    float:right;
    height: 100%;
    padding-left: 20px;
    position: relative;
    text-align:center;
    vertical-align:middle;
    width: 25px;
}

.map-controls-wrapper {
    background-color:rgba(0,0,0,0.5);
    height: 53px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1010;
    padding-top: 20px;
}

@media (min-width: 1050px) {
    .map-controls-wrapper {
        width: 645px;
    }
}

@media (min-width: 1360px) {
    .map-controls-wrapper {
        padding-top: 10px;
    }
}

/* extends bootstrap-slider's .tooltip */
.tooltip {
    pointer-events: none;
}

.ol-scale-line {
	right: 10px !important;
    left: auto !important;
    bottom: 18px !important;
}

.ol-mouse-position {
	right: 100px !important;
    left: auto;
    bottom: 19px;
    height: 20px;
    padding-top: 3px;
    font-size: 0.8em;
}

/* hide openlayers icon and link in front of attribution */
.ol-attribution li a img{
    display: none !important;
}

.ol-attribution{
    bottom: 18px !important;
    right: 0 !important;
    border-radius: 4px !important;
    padding: 0 !important;
}

.ol-attribution button{
    background: rgba(0,60,136,.3);
    border-radius: 4px;
    padding: 2px !important;
    height: 17px !important;
    width: 8px !important;
    font-size: 1em !important;
    font-weight: normal !important;
}

#disclaimer, #cookienote {
    bottom: 40px;
    height: auto;
    padding: 5px;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    right: 0;
    z-index: 1010;
}

#cookienote {
	bottom: 0;
}

#cookienote button {
	height: 21px;
    font-size: 0.8em;
    background-color: #336a5c;
    margin-left: 10px;
}

