@media (min-width: 768px) {
	#sidebar > .tab-content {
	    bottom: 0px;
	}
}

.list-group {
	margin-bottom: 0;
}

.list-group-item:hover {
    background-color: #336a5c;
    cursor: pointer;
    color: white;
}

.list-group-item:hover select {
    color: black;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:12px;
  white-space:nowrap;
  vertical-align:middle;
  background-color:#fff;
  position: relative;
  z-index: 9;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

#sidebar-tabs {
    overflow-y: hidden;
    /*height: 39px;*/
    overflow-x: auto;
    position: absolute;
    left: 0px;
    /*min-width: 3000px;*/
    background-color: #336a5c; /* #003251 */
}

#sidebar-tabs li {
    display: table-cell;
    width: 1%;
}

@media (min-width: 768px) {
    #sidebar-tabs {
        height: 39px;
    }
}

.tabcount-all > li {
    width: auto !important;
}

.badge {
    padding: 3px 5px;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

button.button_catalog_meta {
	display: none !important;
}

/*
#sidebar .properties {
	border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
*/

#sidebar .properties strong {
    width: 20%;
    display: block;
    float: left;
    margin-left: 5px;
}

#sidebar h2 {
	margin-top: 0;
	margin-left: 5px;
	font-size: 26px;
}

.geospatial_data ul.items {
    list-style-type: none;
    padding-left: 0;
}

.geospatial_data ul.items li {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
/*
ul.products li:hover {
    background-color: #336a5c;
	color: white;
}
*/

/* excluded because of accordion integration
.external_data {
	position: absolute;
    bottom: 0;
    height: 290px;
}

.geospatial_data {
	position: absolute;
    top: 63px;
    bottom: 292px;
	overflow: auto;
	width: 100%;
}
*/ 

.external_data h3, .geospatial_data h3 {
	background: #336a5c;
    color: white;
    margin: 0;
    padding: 5px;
	font-size: 20px;
}

.sidebar label {
	font-size: 14px;
	font-weight: normal;
}

.sidebar li:hover label {
	/*font-weight: bold;*/
}

h4 {
	font-weight:bold;
	font-size: 16px;
}

#current {
    width: 307px;
    position: absolute;
    top: 97px;
    left: -3px;
    z-index: 1020;
}

@media (min-width: 1070px) {
    #current {
        top: 65px;
    }
}

#map_icons {
    left: auto;
    display: inline-block;
    margin-right: 20px;
    top: auto; 
    width: auto; 
    position: relative; 
    z-index: 1001;
    left: auto; 
}

#map_search {
    position: absolute;
    display: inline-block;
    width: calc(100% - 350px);
    max-width: 200px;
    z-index: 1025;
}

#title-left {
	width: 324px;
}

#wetland_sites {
    color: white;
    display: inline-block;
    margin-right: 10px;
    z-index: 1022;
    padding-bottom: 2px;
}

#wetland_attribution {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    z-index: 1022;
    float: right;
    background-color: rgba(0,0,0,0.5);
    padding: 3px 10px;
    width: 100%;
    text-align: right;
}

#wetland_opened .accordion .panel-body {
	padding: 0;
}

.geospatial_data .tab-content {
    position: absolute;
    bottom: 0;
    height: calc(100% - 277px);
    height: -moz-calc(100% - 285px);
    overflow: auto;
    width: 100%;
}

.geospatial_data.noImage .tab-content {
    height: calc(100% - 50px);
    height: -moz-calc(100% - 50px);
}

@media (max-width: 800px) {
    .geospatial_data .tab-content {
        height: calc(100% - 50px);
        height: -moz-calc(100% - 50px);
    }
}

.wetland-image {
    max-height: 225px;
    overflow: hidden;
    display:none;
}

.partners {
    display: none;
}

@media (min-width: 800px) {
    .wetland-image {
        display: block;
    }
    .partners { display: block; }
}

.btn-wetland {
    color: white;
    background-color: #063B52;
    border-color: #063B52; /* #063B52 */
    width: 40%;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

button.btn-wetland:hover {
	background-color: #336A5C !important;
	border-color: #336A5C !important;
}

.btn-loadmore {
	color: white;
	background-color: #063B52;
	border-color: #063B52;
	width: 100%;
	margin-bottom: 10px;
}

button.btn-loadmore:hover {
	background-color: #336A5C !important;
	border-color: #336A5C !important;
	cursor: pointer !important;
}

.table.data th {
	border-top: 0px;
}

.fancybox-overlay .fancybox-title a {
	color: #336A5C;
}

#map_legend {
	background-color: white;
    width: 500px;
    position: absolute;
    bottom: 16px;
    z-index: 99999;
    right: 2px;
}

#map_legend h4 {
	margin-top: 5px;
}

.panoramio-wapi-tos.wetland_image {
	width: 396px;
    position: absolute;
    top: 190px;
    font-size: 12px;
    color: white;
    padding-left: 3px;
}

.wetland-image>a>img {
    height: 225px;
}

/*
.geospatial_data .wetland-image:hover .panoramio-wapi-tos.wetland_image {
	top: 190px;
}

.panoramio-wapi-tos.wetland_image .desc {
	display:none;
}

.geospatial_data .wetland-image:hover .panoramio-wapi-tos.wetland_image .desc {
	display:block;
}
*/

@media (min-width: 768px){
	.col-md-3 {
	    width: 405px;
	}
}

@media (min-width: 768px) {
	#sidebar > .tab-content {
	    right: 2px;
	    width: 400px;
	}
}

@media (min-width: 768px) {
	.col-md-9 {
	    width: calc(100% - 405px);
		width: -moz-calc(100% - 405px);
	}
}

@media (max-height: 680px) {
	.geospatial_data .wetland-image {
		display:none;
	}
	.geospatial_data .tab-content {
		height: calc(100% - 50px);
    	height: -moz-calc(100% - 50px);
	}
}

.layer-list-top-bar {
    background-color: white;
    border-top: lightgrey solid 1px;
    height: 25px;
}

.div-button {
    border: 1px solid lightgray;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    width: 145px;
}

.remove-button-wrapper .div-button {
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.div-button-icon {
    float:left;
    margin-top: 4px;
}

.div-button-text {
    float:left;
    margin-left: 5px;
    margin-top: 1px;
}

.layer-list-top-bar > .div-button {
    border-bottom: none;
    border-top: none;
    margin-left: 42px;
}

.toggle-button-wrapper {
    display: block;
    left: 0;
    position: absolute;
    top: 106px;
    z-index: 1020;
}

@media (min-width: 1070px) {
    .toggle-button-wrapper {
        top: 74px;
    }
}

.toggle-button-wrapper.expanded {
    left: 302px;
}

.toggle-button-wrapper > button {
    background-color: white;
    border: none;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    width: 25px;
    height: 100px;
    background-image: url(../img/map-active-layers.png);
    background-position-x: 0px;
}

.toggle-button-wrapper.expanded > button {
    background-position-x: 25px;
}

.toggle-button-wrapper > .badge-wrapper {
    background-color: white;
    height: 25px;
}

.layer-title-wrapper .glyphicon {
    float:right;
    height: 100%;
    padding-left: 20px;
    position: relative;
    text-align:center;
    vertical-align:middle;
    width: 25px;
}

.map-controls-wrapper {
    height: 53px !important;
    position: absolute;
    top: 60px;
    width: auto;
    z-index: 1029;
    padding-top: 10px;
}

@media (min-width: 768px) {
    .map-controls-wrapper {
        width: calc(100% - 400px);
    }
}

@media (min-width: 1050px) {
    .map-controls-wrapper {
        width: 545px;
        top: 70px;
        right: 405px;
    }
}

@media (min-width: 1360px) {
    .map-controls-wrapper {
        top: 0px;
        z-index: 1032;
	left: calc(50% - 350px);
	right: auto;
    }
}

/* extends bootstrap-slider's .tooltip */
.tooltip {
    pointer-events: none;
    z-index: 9999999;
}

.ol-scale-line {
    right: 10px !important;
    left: auto !important;
    bottom: 28px !important;
}

.ol-mouse-position {
    left: 10px !important;
    bottom: 28px;
    padding: 0px !important;
    font-size: 0.8em;
}

/* hide openlayers icon and link in front of attribution */
.ol-attribution li a img{
    display: none !important;
}

.ol-attribution{
    bottom: 18px !important;
    right: 0 !important;
    border-radius: 4px !important;
    padding: 0 !important;
}

.ol-attribution button{
    background: rgba(0,60,136,.3);
    border-radius: 4px;
    padding: 2px !important;
    height: 17px !important;
    width: 8px !important;
    font-size: 1em !important;
    font-weight: normal !important;
}

#disclaimer, #cookienote {
    bottom: 0px;
    height: auto;
    padding: 3px;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1em;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    right: 0;
    z-index: 1;
}

#cookienote {
	bottom: 30px;
}

#cookienote button {
    height: 21px;
    font-size: 0.8em;
    background-color: #336a5c;
    margin-left: 10px;
}

.ngTruncateToggleText {
    cursor: pointer;
}
.list-group-item:hover .ngTruncateToggleText {
     color: #04baf3;
}
/* Anno */
.anno-highlight {
    font-style: italic;

  /*  font-weight: bold;
      text-decoration: underline;
    */
}
.anno.anno-width-500 {
    width: 500px;
}

.anno-overlay {
    z-index: 1032;
}

.anno-emphasise-target {
  z-index: 1601 !important !important;
}

.anno-exit-left {
    float: left;
    margin-left: 5px !important;
}

.anno-step-of {
    float: right;
    color: #bbbbbd;
    margin-top: -5px;
}

.legend-percent {
	font-size: 0.9em;
    padding-left: 5px;
    text-align: right;
}

.partners img {
    margin-left: 25px;
    float: right;
}

#nav-top-right2 li.dropdown {
	width: 110px;
}

.item_left button:hover{
  background-color: white;
}

#draft {
    left: 0px;
    height: auto;
    padding: 3px;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 34px;
    z-index: 1;
}

@media (max-width: 768px) {
    .sidebar > .tab-content {
        bottom: 0;
    }
}
.modal-body{
    max-height: 60vh;
    overflow-y: visible;
    overflow-x: hidden;
}

.divider_feature_info {
    background-color: #555555;
    height: 2px;
    margin: 9px 0px 9px;
    overflow: hidden;
}

#login-icon {
    height: 50px;
    width: auto !important;
}

.caret {
    margin-top: -15px;
}

#formLogin {
    padding: 15px;
}

#alerts.ng-scope {
    top: 55px;
    z-index: 999;
}

.alert {
    padding: 5px;
}

.alert button.close {
    color: #000000 !important;
    opacity: 1 !important;
}
