<style type="text/css">
    table.satdata-metadata td.title {
        font-weight: bold;
    }
</style>
<h4 style="word-break: break-word;">{{ id }}</h4>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" data-target="#metadata">Metadata</a></li>
  <li><a data-toggle="tab" data-target="#download">Download</a></li>
</ul>

<div class="tab-content">
    <div id="metadata" class="tab-pane fade in active">
        <table class="table table-striped table-bordered table-hover satdata-metadata" style="display:auto;">
            <tbody>
            <tr>
                <td class="title">Spacecraft identifier</td>
                <td class="value">{{ platformname }}</td>
            </tr>
            <tr>
                <td class="title">Product type</td>
                <td class="value">{{ producttype }}</td>
            </tr>
            <tr>
                <td class="title">Orbit direction</td>
                <td class="value">{{ orbitdirection }}</td>
            </tr>
            <tr>
                <td class="title">Relative orbit number</td>
                <td class="value">{{ relativeorbitnumber }}</td>
            </tr>
            <tr>
                <td class="title">Time start</td>
                <td class="value">{{ time_start }}</td>
            </tr>
            <tr>
                <td class="title">Time end</td>
                <td class="value">{{ time_end }}</td>
            </tr>
            <tr>
                <td class="title">Updated</td>
                <td class="value">{{ updated }}</td>
            </tr>
            <tr>
                <td class="title">Browse URL</td>
                <td class="value"><a href="{{ browse_url }}" target="_blank">Link</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="download" class="tab-pane fade">
        <table class="table table-striped table-bordered table-hover satdata-metadata" style="display:auto;">
        {% if download_urls.0 %}
        <tr>
            <td class="title">ESA Open Data Hub <span style="font-weight:normal">(Login required!)</span></td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><a href="{{ download_urls.0.url }}" target="_blank">{{ download_urls.0.filename }}</a></li>
                </ul>
            </td>
        </tr>
        {% endif %}
        </table>
    </div>
</div>
