cssmin==0.2.0
Django==1.11.5
django-allauth==0.33.0
django-assets==0.12
django-cronjobs==0.2.3
django-geojson==2.10.0
django-npm==1.0.0
django-rest-auth==0.9.1
djangorestframework==3.6.4
django-thumbs==0.4
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
GDAL==2.2.1
geojson==2.1.0
gsconfig==1.0.6
ipython==5.5.0
jsonschema==2.6.0
lxml==3.8.0
matplotlib==2.0.2
numpy==1.13.1
OWSLib==0.14.0
pandas==0.20.3
pycurl==7.43.0
# dependency of django-thumbs:
Pillow==4.2.1
psycopg2==2.7.3.1
Pynoramio==0.1.1
python-dateutil==2.6.1
requests==2.18.4
Shapely==1.6.1
# django suit has to pulled from github:
-e git://github.com/darklow/django-suit.git@v2#egg=django-suit
