certifi==2018.4.16
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.9
cssmin==0.2.0
cycler==0.10.0
decorator==4.3.0
descartes==1.1.0
Django==1.11.5
django-allauth==0.33.0
django-assets==0.12
django-cronjobs==0.2.3
django-geojson==2.10.0
django-npm==1.0.0
django-pandas==0.5.1
django-rest-auth==0.9.1
#-e git://github.com/darklow/django-suit.git@ebaf0e862a49aa897c5414db0c8b59df85f78839#egg=django_suit
django-thumbs==0.4
djangorestframework==3.6.4
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
enum34==1.1.6
Fiona==1.7.11.post1
functools32==3.2.3.post2
GDAL==2.2.3
geojson==2.1.0
geopandas==0.3.0
gisdata==0.5.4
gsconfig==1.0.6
httplib2==0.11.3
idna==2.6
ipython==5.5.0
ipython-genutils==0.2.0
jsonschema==2.6.0
lxml==3.8.0
matplotlib==2.0.2
munch==2.3.2
numpy==1.13.1
oauthlib==2.0.7
olefile==0.45.1
OWSLib==0.14.0
pandas==0.20.3
pathlib2==2.3.2
pickleshare==0.7.4
Pillow==4.2.1
prompt-toolkit==1.0.15
psycopg2==2.7.3.1
pycurl==7.43.0
Pygments==2.2.0
pyparsing==2.2.0
pyproj==1.9.5.1
python-dateutil==2.6.1
python-openid==2.2.5
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
scandir==1.7
Shapely==1.6.4.post1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webassets==0.12.1
