<div class="modal-header">
    <h1>Set new password</h1>
</div>
<div class="modal-body">
    <form>
        <input name="password1" ng-model="password1" placeholder="New password" type="password" />
        <br>
        <input name="password2" ng-model="password2" placeholder="Confirm password" type="password" /><input name="token" ng-model="token" placeholder="token" type="hidden" /><input name="uid" ng-model="uid" placeholder="uid" type="hidden" />
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="changePassword()">
        Change password
    </button>
    <button class="btn btn-primary" ng-click="close()">
        Cancel
    </button>
</div>
