<div modal-draggable class="modal-header">
    <button ng-click="close()" type="button" class="close" data-dismiss="modal" aria-hidden="true">
        x
    </button>
    <h1>Password reset</h1>
</div>
<div class="modal-body">
    Please provide your email address: 
    <br>
    <input name="email" ng-model="email" placeholder="Email" type="text" />
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">
        Submit
    </button>
    <button class="btn btn-primary" ng-click="close()">
        Close
    </button>
</div>
