<a href="#" id="info_help" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-expanded="false">Info & Help</a>
<ul class="dropdown-menu dropdown-menu-arrow" check-drop-up role="menu" ng-controller="InfoCtrl as ic">
    <li class="hidden-xs" ng-controller="IntroductionTourCtrl as introTour"><a href="#" ng-click="introTour.startAnno()">Start Tour</a></li>
    <li><a href="#" ng-click="ic.info()">Info</a></li>
    <li><a href="#" ng-click="ic.help()">Help</a></li>
    <li><a href="#" ng-click="ic.credits()">Credits</a></li>
    <li><a href="http://swos-service.eu/about/" target="_blank">About SWOS</a></li>
    <li><a href="http://swos-service.eu/contact/" ng-click="ic.imprint()" target="_blank">Imprint</a></li>
</ul>
