<a href="#" id="info_help" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-expanded="false">Men&uuml;</a>
<ul class="dropdown-menu dropdown-menu-arrow" check-drop-up role="menu" ng-controller="InfoCtrl as ic">
    <li><a href="#" ng-click="ic.welcome()">Info</a></li>
    <li><a href="#" ng-click="ic.help()">Hilfe</a></li>
    <li><a href="#" ng-click="ic.info()">Kontakt</a></li>
    <li class="hidden-xs" ng-controller="IntroductionTourCtrl as introTour"><a href="#" ng-click="introTour.startAnno()">Starte Einführungstour</a></li>
    <li class="divider"></li>
    <li><a href="https://www.thueringen.de/th8/klimaagentur/klimafolgen/phaenopt/index.aspx" target="_blank">&Uuml;ber das PhaenOPT-Projekt</a></li>
    <li><a href="https://www.d-copernicus.de/daten/beispiele-und-anwendungen/wetter-und-klima/" target="_blank">Copernicus Beispiele & Anwendungen</a></li>
    <li class="divider"></li>
    <li><a href="#" ng-click="ic.credits()">Credits</a></li>
    <li><a href="https://www.uni-jena.de/impressum.html" ng-click="ic.imprint()" target="_blank">Impressum</a></li>
</ul>
