<div modal-draggable class="modal-header">
    <h1>{{ mi.title }}</h1>
</div>
<div class="modal-body metadataModal">
    <!--<div class="item" ng-if="mi.value_passed.identifier">
        <div class="headline">
            Identifier
        </div>
        <div class="description">
            {{ mi.value_passed.identifier }}
        </div>
    </div>
    <div class="item">
        <div class="headline">
            Resource Title
        </div>
        <div class="description">
            {{ mi.value_passed.title }}
        </div>
    </div>-->
    <div class="item">
        <div class="headline">
            Beschreibung
        </div>
        <div class="description" style="white-space: pre-line;">{{ mi.value_passed.abstract }}</div>
    </div>
    <div class="item" ng-if="mi.value_passed.date_begin || mi.value_passed.date_end">
        <div class="headline">
            Zeitliches Ausma&szlig;
        </div>
        <div class="description">
            {{ mi.value_passed.date_begin }} - {{ mi.value_passed.date_end }}
        </div>
    </div>
    <!--<div class="item" ng-if="mi.value_passed.topicCategory.length > 0">
        <div class="headline">
            Category
        </div>
        <div class="description">
            <div ng-repeat="cat in mi.value_passed.topicCategory">
                <div class="topic_cat">{{ cat.identifier }}</div>
            </div>
        </div>
    </div>-->
    <div class="item" ng-if="mi.value_passed.keywords.length > 0">
        <div class="headline">
            Schlagw&ouml;rter
        </div>
        <div class="description">
            <div ng-repeat="keyword in mi.value_passed.keywords">
                {{ keyword.keyword }}
            </div>
        </div>
    </div>
    <!--<div class="item">
        <div class="headline">
            Bounding Box (Lat, Lon Coordinates)
        </div>
        <div class="description">
            North: {{ mi.value_passed.north.toFixed(3) }}
            <br>
            West: {{ mi.value_passed.west.toFixed(3) }}
            <br>
            South: {{ mi.value_passed.south.toFixed(3) }}
            <br>
            East: {{ mi.value_passed.east.toFixed(3) }}
        </div>
    </div>-->
    <div class="item" ng-if="mi.value_passed.meta_lineage">
        <div class="headline">
            Herkunft
        </div>
        <div class="description" style="white-space: pre-line;">{{ mi.value_passed.meta_lineage }}</div>
    </div>
    <div class="item" ng-if="mi.value_passed.equi_scale || mi.value_passed.resolution_distance">
        <div class="headline">
            R&auml;mliche Aufl&ouml;sung
        </div>
        <div class="description">
            {{ mi.value_passed.resolution_distance }} {{ mi.value_passed.resolution_unit }}
        </div>
    </div>
    <div class="item" ng-if="mi.value_passed.layer_online_resource.length > 0">
        <div class="headline">
            Online-Links
        </div>
        <div ng-repeat="resource in mi.value_passed.layer_online_resource">
            <div  ng-if="resource.name"><a href="{{ resource.linkage }}" target="_blank">{{ resource.name }}</a> <span ng-if="resource.function.identifier">({{ resource.function.identifier }})</span></div>
            <div  ng-if="!resource.name"><a href="{{ resource.linkage }}" target="_blank">{{ resource.linkage }}</a> <span ng-if="resource.function.identifier">({{ resource.function.identifier }})</span></div>
        </div>
    </div>

    <div class="item">
        <div class="headline">
            Kontakt (Datensatz)
        </div>
        <div class="description">
            <div ng-repeat="contact in mi.value_passed.point_of_contacts">
                <div ng-if="contact.organisation">{{ contact.organisation }}</div>
                <div ng-if="contact.last_name">
                    Ansprechpartner: {{ contact.first_name }} {{ contact.last_name }}</div>
                <div ng-if="contact.email">
                    Email: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                </div>
                <div ng-if="contact.website">
                    Webseite: <a href="{{ contact.website }}" target="_blank">{{ contact.website }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="mi.close()">
        Schlie&szlig;en
    </button>
</div>
