<div modal-draggable class="modal-header"><h1>Satellite data explorer</h1></div>
<div class="modal-body" style="padding: 0;height:500px;">

    <div class="satellitedata-explorer-filter">
    
        <uib-accordion close-others="true">
            <div uib-accordion-group is-open="wsdc.filter_dataset">
                <uib-accordion-heading>
                    Filter by dataset
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wsdc.filter_dataset, 'glyphicon-chevron-right': !wsdc.filter_dataset}"></i>
                </uib-accordion-heading>
                Filter results by dataset:<br />
                <select class="selectpicker" multiple="multiple" data-none-selected-text="All" ng-model="wsdc.filterByDataset" ng-change="wsdc.changeDatasetFilter()" ng-options="o as o for o in wsdc.datasetOptions"></select>
            </div>
    
            <div uib-accordion-group is-open="wsdc.filter_tile" ng-if="wsdc.filter_tile_show">
                <uib-accordion-heading>
                    Filter by tile
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wsdc.filter_tile, 'glyphicon-chevron-right': !wsdc.filter_tile}"></i>
                </uib-accordion-heading>
                Filter results by tile:<br />
                <select class="selectpicker" data-width="auto" data-none-selected-text="All" ng-model="wsdc.filterByTile" ng-options="o as o for o in wsdc.tileOptions"></select>
            </div>
            
            <div uib-accordion-group is-open="wsdc.filter_optical" ng-if="wsdc.filter_optical_show">
                <uib-accordion-heading>
                    Filter by optical properties
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wsdc.filter_optical, 'glyphicon-chevron-right': !wsdc.filter_optical}"></i>
                </uib-accordion-heading>
                <div class="cloud_slider">
                    Maximum scene cloud coverage:<br />
                    <slider class="slider" ng-model="wsdc.filterByCloud" min="0" max="100" step="1" style="width:95%;"></slider>
                </div>
                
                <div class="sun_slider">
                    <div class="elevation" ng-if="wsdc.filter_sun_elevation_show">
                        Sun Elevation:<br />
                        <slider class="slider" ng-model="wsdc.filterBySunElevation" min="-90" max="90" step="1" range="true" style="width:95%;"></slider>
                    </div>
                    <div class="zenith" ng-if="wsdc.filter_sun_zenith_show">
                        Sun Zenith Angle:<br />
                        <slider class="slider" ng-model="wsdc.filterBySunZenith" min="-90" max="90" step="1" range="true" style="width:95%;"></slider>
                   </div>
                   <div class="azimuth">
                        Sun Azimuth Angle:<br />
                        <slider class="slider" ng-model="wsdc.filterBySunAzimuth" min="-180" max="180" step="1" range="true" style="width:95%;"></slider>
                   </div>
                </div>
            </div>
    
            <div uib-accordion-group is-open="wsdc.filter_date">
                <uib-accordion-heading>
                    Filter by date
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wsdc.filter_date, 'glyphicon-chevron-right': !wsdc.filter_date}"></i>
                </uib-accordion-heading>
                <div class="date_filter">
                  Begin: <br />            
                  <input type="text" datepicker-append-to-body="true" class="form-control" is-open="wsdc.opened1" uib-datepicker-popup="yyyy-MM-dd" ng-model="wsdc.time_start_begin" datepicker-options="wsdc.dateOptions" close-text="Close" style="width: 72%;float: left;" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="wsdc.opened1 = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  End: <br />            
                  <input type="text" datepicker-append-to-body="true" class="form-control" is-open="wsdc.opened2" uib-datepicker-popup="yyyy-MM-dd" ng-model="wsdc.time_start_end" datepicker-options="wsdc.dateOptions" close-text="Close" style="width: 72%;float: left;" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="wsdc.opened2 = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  Filter results by month:<br />
                  <select class="selectpicker" data-container="body" multiple="multiple" data-none-selected-text="All" ng-model="wsdc.filterByMonths" ng-options="obj.id as obj.label for obj in wsdc.monthOptions"></select>  
                </div>
            </div>
        </uib-accordion>
        
		<button class="btn btn-default" ng-click="wsdc.filterChanged()">Update results</button>
        
    </div>
    <style type="text/css">
        #satellitedata-explorer .panel-body {
            padding-left: 0;
        }
        #satellitedata-explorer .satdata-info {
            font-size: 0.8em;
        }
        #satellitedata-explorer .satdata-scene {
            float:left;
            margin-left:15px;
            padding: 5px;
			height: 205px;
        }
        #satellitedata-explorer .satdata-scene:hover {
            border: 1px solid black;
            padding: 4px;
        }
        #satellitedata-explorer .satdata-scene.selected {
            border: 1px solid black;
            padding: 4px;
        }
        #satellitedata-explorer .satdata-scene img {
            width: 145px;
            height: 145px;
        }
    </style>
	
	<uib-tabset justified="true" style="height:100%;width:550px;position:absolute;top:0;left:250px;">
		<uib-tab heading="Chart" select="wsdc.chart_api.clearElement(); wsdc.chart_api.updateWithTimeout(100);">
			<nvd3 id="satellitedata-chart" options="wsdc.chartOptions" data="wsdc.data_filtered_stats" api="wsdc.chart_api"></nvd3>
		</uib-tab>
		
		<uib-tab heading="Scenes" id="satellitedata-explorer-wrapper">
			<div id="satellitedata-explorer" style="overflow:auto;height:450px;" infinite-scroll="wsdc.addMoreItems()" infinite-scroll-container="'#satellitedata-explorer'" infinite-scroll-use-document-bottom="false" infinite-scroll-distance="0">
		        <!--<uib-accordion close-others="false">
		            <div uib-accordion-group ng-repeat="group in wsdc.groups"  heading="Results: {{wsdc.groupBy}} {{group}}">-->
					<!-- filter ng-repeat:  | filterData:wsdc.filterByDataset:wsdc.filterByTile:wsdc.time_start_begin:wsdc.time_start_end:wsdc.filterByCloud:wsdc.filterBySunZenith:wsdc.filterBySunAzimuth:wsdc.groupBy:group -->
		                <div class="satdata-scene" ng-animate="'animate'" ng-class="{selected: scene.selected}" ng-repeat="scene in wsdc.data_filtered.features | orderBy: 'time_start' | limitTo: wsdc.limitTo">
		                    <img ng-src="{{scene.thumb_url}}" width="145" height="145" ng-click="wsdc.openMetadata(scene)" style="cursor:pointer;" uib-tooltip="Click here to open metadata" ng-mouseover="wsdc.onmouseover(scene)" ng-mouseleave="wsdc.onmouseleave()" />
		                    <div class="satdata-info">
		                        {{scene.dataset}}: {{scene.time_start | limitTo:10}}<br/>
		                        Tile: {{scene.tile}}&nbsp;&nbsp;Cloud: {{scene.cloud_cover | limitTo:5}}%
		                        <div ng-if="scene.senhub_wms_url != 'nan'">
		                            <button ng-click="wsdc.addWMSLayer(scene)">Add layer to map</button>
		                        </div>
		                    </div>
		                </div>
                        
                        <div class="loading-satdata" style="text-align:center;clear:both;padding-top: 10px;" ng-if="wsdc.limitTo < wsdc.data_filtered.features.length"><hr/>Loading...</div>
                        
		             <!--</div>
		        </uib-accordion>-->
		    </div>
		</uib-tab>
	
    </uib-tabset>
    
</div>
<div class="modal-footer">
    <div style="float: left;text-align: left;font-size: 0.8em;">
       Powered by: <br>
       <a href="https://earthexplorer.usgs.gov" target="_blank">USGS Earth Explorer</a>, <a href="http://www.sentinel-hub.com/" target="_blank">Sinergise Sentinel Hub</a>, <a href="https://scihub.copernicus.eu/" target="_blank">Copernicus Open Access Hub</a>
    </div>
    <button class="btn btn-primary" ng-click="wsdc.exportChartAsPNG()">Export chart</button>
    <button class="btn btn-primary" ng-click="wsdc.close()">Close</button>
</div>