<div modal-draggable class="modal-header"><h1>{{ es_srm.title }}</h1></div>
<div class="modal-body searchresults">
    <div>
        <button class="btn btn-default btn-sm filter-items" ng-if="es_srm.filterCategory"
                ng-click="es_srm.removeFilter('category')">{{ es_srm.filterCategory }}<span
                class="glyphicon glyphicon-remove" style="padding-left: 5px;"></span></button>
        <button class="btn btn-default btn-sm filter-items" ng-if="es_srm.filterTopiccat"
                ng-click="es_srm.removeFilter('topiccat')">{{ es_srm.filterTopiccat }}<span
                class="glyphicon glyphicon-remove" style="padding-left: 5px;"></span></button>
        <button class="btn btn-default btn-sm filter-items" ng-if="es_srm.filterKeywords"
                ng-click="es_srm.removeFilter('keywords')">{{ es_srm.filterKeywords }}<span
                class="glyphicon glyphicon-remove" style="padding-left: 5px;"></span></button>
        <button class="btn btn-default btn-sm filter-items" ng-if="es_srm.filterIndicatorName"
                ng-click="es_srm.removeFilter('indicator_name')">{{ es_srm.filterIndicatorName }}<span
                class="glyphicon glyphicon-remove" style="padding-left: 5px;"></span></button>
        <button class="btn btn-default btn-sm filter-items" ng-if="es_srm.filterContactOrg"
                ng-click="es_srm.removeFilter('contact_org')">{{ es_srm.filterContactOrg }}<span
                class="glyphicon glyphicon-remove" style="padding-left: 5px;"></span></button>
        <button class="btn btn-default btn-sm filter-items" ng-if="es_srm.filterContactPerson"
                ng-click="es_srm.removeFilter('contact_person')">{{ es_srm.filterContactPerson }}<span
                class="glyphicon glyphicon-remove" style="padding-left: 5px;"></span></button>
        <button class="btn btn-default btn-sm filter-items" ng-if="es_srm.filterWetland"
                ng-click="es_srm.removeFilter('wetland')">{{ es_srm.filterWetland }}<span
                class="glyphicon glyphicon-remove" style="padding-left: 5px;"></span></button>
        <button class="btn btn-default btn-sm filter-items" ng-if="es_srm.filterProductName"
                ng-click="es_srm.removeFilter('product_name')">{{ es_srm.filterProductName }}<span
                class="glyphicon glyphicon-remove" style="padding-left: 5px;"></span></button>
        <button class="btn btn-default btn-sm filter-items" ng-if="es_srm.filtereEoregion"
                ng-click="es_srm.removeFilter('ecoregion')">{{ es_srm.filtereEoregion }}<span
                class="glyphicon glyphicon-remove" style="padding-left: 5px;"></span></button>
    </div>

    <div style="width:25%; float: left;" ng-show="es_srm.results.hits.length > 0">
        <div ng-repeat="facet in es_srm.results.facets_ordered | orderBy: 'order'" class="">
            <ul ng-if="es_srm.filteredGroups[facet.name] != 1"
                style=" min-width: 40px; overflow: hidden; display: inline-block;padding: 0; margin: 0;"><span style=" font-weight: bold;">{{ es_srm.displayName[facet.name] }}</span>
                <div ng-repeat="item in es_srm.results.facets[facet.name] track by $index">
                    <li ng-if="$index <6 && item.name.length > 0" style="padding-left: 5px;cursor: pointer;" ng-click="es_srm.setFilter(facet.name, item.name)">{{ item.name }} ({{ item.count }})</li>
                    <div ng-if="$index == 6"ng-click="es_srm.showMore(facet.name)" style="padding-left: 5px;font-weight: bold;cursor: pointer;" class="{{ facet.name }}_more">show more</div>
                    <li ng-if="$index >5 && item.name.length > 0" class="{{ facet.name }}" style="display:none; padding-left: 5px;cursor: pointer;" ng-click="es_srm.setFilter(facet.name, item.name)">{{ item.name }} ({{ item.count }})</li>
                </div>
            </ul>
        </div>
    </div>

    <div class="list-group" style="float: right; width: 75%;">
        <!--<div ng-repeat="item in es_srm.results.hits |filter: item.category = es_srm.filterCategory |filter: item.topiccat.val = es_srm.filterTopiccat  |filter: es_srm.filterTopiccat" class="list-group-item clearfix">-->
        <div ng-repeat="item in es_srm.results.hits" class="list-group-item clearfix" style="cursor: default;">
            <div class="catalog-item">
                <div class="item_center" style="width: 100%;">
                    <div class="item_title" style="font-size: 12px; font-weight: normal">{{ es_srm.displayNameCategory[item.category] }}</div>
                    <div class="item_title"> {{ item.title }}</div>
                    <div class="item_desc" ng-text-truncate='item.description' ng-tt-chars-threshold="130"></div>
                </div>
                <div class="item_right">
                    <button ng-if="item.category =='product' || item.category =='indicator' || item.category =='external'"
                            ng-controller="MapCurrentLayersCtrl as mcl" ng-click="mcl.showMetadata(item)" type="button"
                            class="btn btn-default btn-xs"
                            aria-label="Left Align"><i class="fa fa-file-text-o fa-lg "></i></button>
                    <button ng-if="item.category =='product' || item.category =='indicator' || item.category =='external'"
                            ng-click="es_srm.addLayerToMap(item.django_id, item.category)" type="button"
                            class="btn btn-default btn-xs"
                            aria-label="Left Align"><i class="fa fa-plus fa-lg "></i></button>
                    <button ng-if="item.category =='wetland'" ng-click="es_srm.openWetland(item.wetland_id)" type="button"
                            class="btn btn-default btn-xs"
                            aria-label="Left Align"><i class="fa fa-arrow-right fa-lg "></i></button>
                    <button ng-if="item.category =='external_db' && item.wetland_id" ng-click="es_srm.openWetlandExternal(item.wetland_id, item.ext_db_id)" type="button"
                            class="btn btn-default btn-xs"
                            aria-label="Left Align"><i class="fa fa-arrow-right fa-lg "></i></button>
                </div>
                <div style="float: right; font-size: 10px">Score: {{ item.score }} </div>
            </div>
        </div>
        <div ng-show="!es_srm.results.hits.length">
            <p>No results found in the SWOS database.</p>
            <p>If you are interested in external results, you can directly search within the Global Earth Observation System of Systems (GEOSS) on this portal.</p>
            <p>
                <button class="btn btn-secondary" ng-click="es_srm.search_geoss()">Search within GEOSS<br/><img style="margin-top:5px;" src="/static/img/geoss/geoss_widget_100.png"></button>
                <button class="btn btn-secondary" style="margin-left:50px;text-align:left;" onclick="window.open('http://www.geoportal.org', '_new_window')">Enabled by<br/><img style="margin-top:5px;" src="/static/img/geoss/geoss_platform_100.png"></button>
            </p>
        </div>
    </div>
</div>
<div class="modal-footer searchresults">
    <div ng-show="es_srm.results.hits.length > 0" style="float: left;text-align: left;font-size: 0.8em;position: absolute;bottom: 15px;">
        <button class="btn btn-primary" ng-click="es_srm.search_geoss()">Get further results through GEOSS</button>
    </div>
    <button class="btn btn-primary" ng-click="es_srm.close()">Close</button>
</div>