<a href="#" class="dropdown" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog fa-lg"></i></a>
<div class="dropdown-menu dropdown-menu-arrow" check-drop-up role="menu" style="padding:17px;">
    <div>SETTINGS</div>
    <div class="divider"></div>
    <div ng-controller="MapSettingsCtrl as mapSettings">
        <strong style="white-space: nowrap;">Set background map: </strong>
        <select class="form-control select-background-map" ng-model="mapSettings.selectedBaseLayer"
                ng-options="item for item in mapSettings.baseLayers" ng-change="mapSettings.changeBaseLayer()"></select>
        <a href="#" ng-click="mapSettings.showMetadata()">Show metadata</a>
    </div>
</div>
