<div class="item_catalog" style="margin-left:0;">
    <div class="item_desc">
        <slider class="slider" ng-model="mcl.sliderValues[layer.id]" min="0" max="100" step="1" style="width:95%;"
                on-slide="mcl.changeOpacity(layer.id)" on-stop-slide="mcl.changeOpacity(layer.id)"></slider>
        <div ng-if="layer.ogc_times">Specify date: <select ng-model="layer.selectedDate"
                                                       ng-change="mcl.updateLayer(layer.id, layer.selectedDate)"
                                                       ng-options="o as o for o in layer.ogc_times"></select></div>
    </div>
    <div class="item_icon">
        <button tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="Show/Hide legend" type="button" ng-if="layer.legend_url || layer.legend_graphic || layer.legend_colors"
                ng-click="mcl.toggleLegend(layer)" class="btn btn-default" aria-label="Left Align"><i
                class="fa fa-list fa-lg"></i></button>
        <button tooltip-placement="bottom" tooltip="Download data" ng-if="layer.downloadable" type="button"
                ng-click="mcl.download(layer)" class="btn btn-default" aria-label="Left Align"><i
                class="fa fa-download fa-lg"></i></button>
        <button tooltip-placement="bottom" tooltip="Show metadata" type="button" ng-click="mcl.showMetadata(layer)"
                class="btn btn-default" aria-label="Left Align"><i class="fa fa-file-text-o fa-lg"></i></button>
        <button tooltip-placement="bottom" tooltip="Show/Hide station list" type="button"
                ng-if="layer.ogc_type == 'SOS'" ng-click="mcl.toggleStations(layer)" class="btn btn-default"
                aria-label="Left Align"><i class="fa fa-list-ol fa-lg"></i></button>
        <button tooltip-placement="bottom" tooltip="Zoom to layer" type="button" ng-click="mcl.zoomToLayer(layer.id)"
                class="btn btn-default" aria-label="Left Align"><i class="fa fa-search fa-lg"></i></button>
        <!--<button tooltip-placement="bottom" tooltip="Remove layer" type="button"
                ng-click="removeLayer(layer.id, $index, layer.django_id)" class="btn btn-default"
                aria-label="Left Align"><i class="fa fa-times fa-lg"></i></button>-->
    </div>
</div>
<div class="item_stations" ng-if="layer.ogc_type == 'SOS'" ng-hide="!layer.showStations">
    <strong>Available stations:</strong>
    <ul style="padding-left:20px;">
        <li ng-repeat="station in layer.stations"><a href="#" ng-click="mcl.zoomToStation(station);">{{ station.name }}
            ({{ station.lat.toFixed(2) }} {{ station.lon.toFixed(2) }})</a></li>
    </ul>
</div>
<div class="item_legend" style="margin-left:5px;margin-top:5px;" ng-if="layer.legend_url || layer.legend_graphic || layer.legend_colors" ng-hide="!layer.showLegend">
    <a ng-if="!layer.legend_colors && layer.legend_url" href="{{ layer.legend_url }}" target="_blank">
        <img ng-src="{{ layer.legend_url }}" alt="Layer legend" style="max-width:100%"/>
    </a>
    <a ng-if="!layer.legend_colors && layer.legend_graphic && !layer.legend_url" href="{{ layer.legend_graphic }}" target="_blank">
        <img ng-src="{{ layer.legend_graphic }}" alt="Layer legend" style="max-width:100%"/>
    </a>
    <table ng-if="layer.legend_colors">
        <tr ng-repeat="item in layer.legend_colors track by $index">
            <td class="legend-color" ng-attr-style="background-color:{{item.color}};opacity:{{item.opacity}};">&nbsp;</td>
            <td class="legend-label">{{ item.label }}</td>
        </tr>
    </table>
</div>
