<div class="item_catalog">
    <div class="item_desc">
        <slider class="slider" ng-model="mcl.sliderValues[slc.layer.id]" min="0" max="100" step="1" style="width:95%;"
                on-slide="mcl.changeOpacity(slc.layer.id)" on-stop-slide="mcl.changeOpacity(slc.layer.id)"></slider>
        <div ng-if="layer.ogc_times">Specify date: <select ng-model="mcl.selectedLayerDates[slc.layer.id]"
                                                       ng-change="mcl.updateLayer(slc.layer.id)"
                                                       ng-options="o as o for o in layer.ogc_times"></select></div>
    </div>
    <div class="item_icon">
        <button tooltip-append-to-body="true" tooltip-placement="bottom"  uib-tooltip="Hide layer"
                type="button"  ng-click="mcl.changeVisibility(slc.layer.id, $event)" ng-if="mcl.getVisibility(slc.layer.id)" class="btn btn-default" aria-label="Left Align"><i
                class="fa fa-eye fa-lg"></i></button>
        <button tooltip-append-to-body="true" tooltip-placement="bottom"  uib-tooltip="Show layer"
                type="button"  ng-click="mcl.changeVisibility(slc.layer.id, $event)" ng-if="!mcl.getVisibility(slc.layer.id)" class="btn btn-default" aria-label="Left Align"><i
                class="fa fa-eye-slash fa-lg"></i></button>
        <button tooltip-append-to-body="true" tooltip-placement="bottom"  uib-tooltip="Show/Hide legend"
                type="button" ng-if="layer.legend_url || layer.legend_graphic || layer.legend_colors"
                ng-click="mcl.toggleLegend(slc.layer)" class="btn btn-default" aria-label="Left Align"><i
                class="fa fa-list fa-lg"></i></button>
        <button ng-controller="DiagramCtrl as diagram" ng-if="layer.legend_colors && layer.legend_colors[0].size" tooltip-placement="bottom"  uib-tooltip="Show statistic"
                type="button" ng-click="diagram.onclickCreate(layer);"
                class="btn btn-default hidden-xs" aria-label="Left Align"><i class="fa fa-line-chart fa-lg"></i></button>
        <button ng-controller="DiagramCtrl as diagram"  ng-if="layer.ogc_times" tooltip-placement="bottom"  uib-tooltip="Create time series"
                type="button" ng-click="mcl.toggleStatistic(slc.layer);diagram.requestTimeSeries(layer);"
                class="btn btn-default hidden-xs" aria-label="Left Align"><i class="fa fa-line-chart fa-lg"></i></button>
        <button tooltip-placement="bottom"  uib-tooltip="Download data" ng-if="layer.downloadable" type="button"
                ng-click="mcl.download(slc.layer)" class="btn btn-default" aria-label="Left Align"><i
                class="fa fa-download fa-lg"></i></button>
        <button tooltip-placement="bottom"  uib-tooltip="Show metadata" type="button" ng-click="mcl.showMetadata(slc.layer)"
                class="btn btn-default" aria-label="Left Align"><i class="fa fa-file-text-o fa-lg"></i></button>
        <button tooltip-placement="bottom"  uib-tooltip="Show/Hide station list" type="button"
                ng-if="layer.ogc_type == 'SOS'" ng-click="mcl.toggleStations(slc.layer)" class="btn btn-default"
                aria-label="Left Align"><i class="fa fa-list-ol fa-lg"></i></button>
        <button tooltip-placement="bottom"  uib-tooltip="Zoom to layer" type="button" ng-click="mcl.zoomToLayer(slc.layer.id)"
                class="btn btn-default" aria-label="Left Align"><i class="fa fa-search fa-lg"></i></button>
        <button tooltip-placement="bottom"  uib-tooltip="Share link to dataset" type="button" ng-click="mcl.shareLink(slc.layer.django_id)" ng-if="!slc.hideShare"
                class="btn btn-default" aria-label="Left Align"><i class="fa fa-share-alt fa-lg"></i></button>
        <button ng-if="layer.story_line.length != 0" tooltip-placement="bottom"  uib-tooltip="Story line" type="button" ng-click="storyline.show_story_line(layer.story_line[0].story_line, layer.story_line[0].order)"
                class="btn btn-default" aria-label="Left Align"><i class="fa fa-info fa-lg"></i></button>
        <!--<button tooltip-placement="bottom"  uib-tooltip="Remove layer" type="button"
                ng-click="mcl.removeLayer(slc.layer.id, $index, slc.layer.django_id)" class="btn btn-default"
                aria-label="Left Align"><i class="fa fa-times fa-lg"></i></button>-->
    </div>
</div>
<div class="item_stations" ng-if="slc.layer.ogc_type == 'SOS'" ng-hide="!slc.layer.showStations">
    <strong>Available stations:</strong>
    <ul style="padding-left:20px;">
        <li ng-repeat="station in layer.stations"><a href="#" ng-click="mcl.zoomToStation(station);">{{ station.name }}
            ({{ station.lat.toFixed(2) }} {{ station.lon.toFixed(2) }})</a></li>
    </ul>
</div>

<div class="item_legend" style="margin-left:5px;margin-top:5px;" ng-if="layer.legend_url || layer.legend_graphic || layer.legend_colors" ng-hide="!slc.layer.showLegend">
    <div><strong>Legend</strong></div>
    <img ng-if="!layer.legend_colors && layer.legend_url" href="{{ slc.layer.legend_url }}.jpg" ng-src="{{ slc.layer.legend_url }}" alt="Layer legend" style="max-width:100%"/>
    <img ng-if="!layer.legend_colors && layer.legend_graphic && !layer.legend_url" href="{{ layer.legend_graphic }}" ng-src="{{ layer.legend_graphic }}" alt="Layer legend" style="max-width:100%"/>
    <table ng-if="layer.legend_colors" style="width:100%;">
        <tr ng-repeat="item in layer.legend_colors track by $index">
            <td class="legend-color" ng-attr-style="background-color:{{ item.color }};">&nbsp;</td>
            <td class="legend-label">{{ item.label }}</td>
        </tr>
    </table>
</div>


